
    <h2>Change Password</h2>
    <hr>
   
    <form  [formGroup]="changePwdForm" (ngSubmit)="ChangePwdFormSubmitted()" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group fiel">
                    <label>Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="ey" id="hideshowpwd"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                       </span>
                        <i class="icon icon-key"></i>
                        <input type="password" class="form-control pst" placeholder="Enter your current password" id="password" formControlName="password">
                    </div>
                    <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['password'].errors && 
                    changePwdForm.controls['password'].hasError('required') && isPasswordSaveClicked">Password field is required</small>
                    <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['password'].errors && 
                    changePwdForm.controls['password'].hasError('pattern') && isPasswordSaveClicked">Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                   
                </div>
               
            </div>
            <div class="col-lg-12">
                <div class="form-group fiel">
                    <label>New Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="ey" id="hideshowpwdnew"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                       </span>
                        <i class="icon icon-key"></i>
                        <input type="password" class="form-control pst" placeholder="Enter your new password" id="new_password" formControlName="new_password">
                    </div>
                    <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['new_password'].errors && 
                    changePwdForm.controls['new_password'].hasError('required') && isPasswordSaveClicked">New Password field is required</small>
                    <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['new_password'].errors && 
                    changePwdForm.controls['new_password'].hasError('pattern') && isPasswordSaveClicked">New Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                    <small class="text-danger d-block mt-3 fm" *ngIf="matchnewPwdStat==1 && isPasswordSaveClicked">New Password can not be same as Password.</small>
                   
                </div>
              
            </div>
            
            <div class="col-lg-12">
                <div class="form-group fiel">
                    <label>Confirm Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="ey" id="hideshowpwdconf"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                       </span>
                        <i class="icon icon-key"></i>
                        <input type="password" class="form-control pst" placeholder="Enter your confirm password" id="confirm_password" formControlName="confirm_password">
                    </div>
                    <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['confirm_password'].errors && 
                changePwdForm.controls['confirm_password'].hasError('required') && isPasswordSaveClicked">Confirm Password field is required</small>
                <small class="text-danger d-block mt-3" *ngIf="changePwdForm.controls['confirm_password'].errors && 
                changePwdForm.controls['confirm_password'].hasError('pattern') && isPasswordSaveClicked">Confirm Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                <small class="text-danger d-block mt-3 fm" *ngIf="matchPwdStat==1 && isPasswordSaveClicked">Confirm Password must be same as New Password.</small>
                <small class="text-danger d-block mt-3 fm" *ngIf="matchconfirmPwdStat==1 && isPasswordSaveClicked">Confirm Password can not be same as Password.</small>
                    
                </div>
                
            </div>
            
            
            <div class="col-lg-12">
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-default small" id="changepwdbtn">Submit</button>                                           
                    </div>
            </div>
        </div>


    </form>
    