<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">Reset Password</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->










<!---------------------------------------------------------------- MAIN CONETNT -------->
<main id="loginPages" class="content login">

    <section>
        <div class="container">

            <div class="inner-wrapper">
                <div class="row align-items-center">

                    <div class="col-lg-6 left">
                        <div class="form-title">Reset Password</div>
                        <p style="color:green; display:none;" id="success_msg" >{{successMsg}}</p>
                        <p style="color:red; display:none;" id="error_msg">{{errorMsg}}</p>
                        <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwdFormSubmitted()" autocomplete="off">
                            <div class="form-group">
                                <label for="">Email ID <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" formControlName="email" id="useremail" required autocomplete="off" (keydown.space)="$event.preventDefault()" readonly>
                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['email'].errors && 
                                resetPwdForm.controls['email'].hasError('required') && isresetClicked">Email ID field is required</small>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['email'].errors && 
                                resetPwdForm.controls['email'].hasError('pattern') && isresetClicked">Please enter a valid Email ID.</small>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="">Password <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="ey" id="hideshowpwd"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    </span>
                                    <i class="icon icon-key"></i>
                                    <input type="password" class="form-control pst" formControlName="password" id="password" required autocomplete="off">
                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['password'].errors && 
                                resetPwdForm.controls['password'].hasError('required') && isresetClicked">Password field is required</small>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['password'].errors && 
                                resetPwdForm.controls['password'].hasError('pattern') && isresetClicked">Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                            </div>
                            <div class="form-group">
                                <label for="">Confirm Password <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="ey" id="hideshowpwdconf"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    </span>
                                    <i class="icon icon-key"></i>
                                    <input type="password" class="form-control" formControlName="confirm_password" id="confirm_password" required autocomplete="off">
                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['confirm_password'].errors && 
                                resetPwdForm.controls['confirm_password'].hasError('required') && isresetClicked">Confirm Password field is required</small>
                                <small class="text-danger d-block mt-3" *ngIf="resetPwdForm.controls['confirm_password'].errors && 
                                resetPwdForm.controls['confirm_password'].hasError('pattern') && isresetClicked">Confirm Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                                <small class="text-danger d-block mt-3" *ngIf="confirmPwdStat==1 && isresetClicked">{{confirmPwdMsg}}</small>
                            </div>


                            <div class="form-link text-center text-md-right">
                                <a routerLink="/login">Sign In?</a>
                            </div>


                            <div class="form-group text-center text-md-left mt-3 mt-md-0">
                                <!--<input type="submit" class="btn btn-default small">-->
                                <button type="submit" class="btn btn-default small" id="resetpwdreqSubmit">Submit</button>
                            </div>
                        </form>
                        
                        <div class="form-footer form-link text-center text-md-left">
                            <span>Do not have an account?</span>
                            <a routerLink="/register" class="ml-3">Register Here</a>
                        </div>
                    </div>



                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.reset_password_image" alt=""></div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->