<div class="ajax_loader">
    <img src="assets/images/ajax-loader.gif" alt="" title="" width="80" height="80">
</div>
<header id="header">

    <div id="searchContainer">
        <div class="container">
            <a href="javascript:void(0);" id="searchClose" class="icon icon-clearclose"></a>
            <div class="form-wrap">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type Search Keyword Here . . ." id="search_key" name="searchkeyword" [(ngModel)]="searchKey" >

                        <!--<input type="submit" class="themebtn dark form-control" value="Search">-->
                        <button class="themebtn dark form-control" type="submit" id="home_search" (click)="searchKeyword()">Search</button>
                    </div>
                    <small class="text-danger d-block mt-3" *ngIf="isSearchclicked && isSearchkeyempty">Search keyword cannot be empty.</small>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row header-row align-items-center align-items-lg-end">

            <div class="col-md-4 col-6">
                <a routerLink="/index" class="image-wrapper logo"><img *ngIf="logoFileUrl" [attr.src]=" logoFileUrl" alt="Career Pathway"></a>
            </div>
            
            
            <div class="col-md-8 col-6">
                <div class="header-right-wrapper">
                    <div class="d-block d-lg-none text-right">
                        <a href="javascript:void(0);" id="closeMenu" class="icon icon-clearclose"></a>
                    </div>

                    <a routerLink="/index" class="image-wrapper logo d-block d-lg-none w-75 mx-auto mb-3"><img class="lazy" [attr.data-src]="apiFileUrl+settingData?.header_logo" alt="Career Pathway"></a>
                    
                    <div class="right-top">
                        <ul class="social-links">
                            <li><a href="{{settingData.facebook}}" class="fa fa-facebook" target="_blank"></a></li>
                            <li><a href="{{settingData.twitter}}" class="fa fa-twitter" target="_blank"></a></li>
                            <li><a href="{{settingData.linkedin}}" class="fa fa-linkedin" target="_blank"></a></li>
                            <li><a href="{{settingData.instagram}}" class="fa fa-instagram" target="_blank"></a></li>
                        </ul>

                        <div class="register-signin">
                            <ng-container *ngIf="loggedInName!='Register';  else register">
                                <a routerLink="{{profilePath}}">
                                    <i class="fa fa-user"></i>
                                    <span>{{loggedInName}}</span>
                                </a> 
                            </ng-container>
                            <ng-template #register>
                                <a routerLink="/register">
                                    <i class="icon icon-register"></i>
                                    <span>Register</span>
                                </a>
                            </ng-template>
                            
                            <ng-container *ngIf="loggedOutName!='Sign In';  else signin">
                                <a href="javascript:void(0);" (click)="logoutClicked()">
                                    <i class="fa fa-sign-out"></i>
                                    <span>{{loggedOutName}}</span>
                                </a>
                            </ng-container>
                            <ng-template #signin>
                                <a routerLink="/login">
                                    <i class="icon icon-signin"></i>
                                    <span>Sign In</span>
                                </a>
                            </ng-template>
                           
                        </div>


                        <div class="searchToggleWrap d-none d-lg-block">
                            <a href="javascript:void(0);" class="searchToggle icon icon-search"></a>
                        </div>
                    </div>

                    <div class="right-bottom">
                        <div class="nav-menu-wrapper">
                            <ul class="nav-menu">
                                <li routerLinkActive="active"><a routerLink="/index">Home</a></li>
                                <li routerLinkActive="active"><a routerLink="/how-it-works">How it Works</a></li>
                                <li routerLinkActive="active"><a routerLink="/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="d-block d-lg-none text-right">
                    <div class="searchToggleWrap d-inline-block">
                        <a href="javascript:void(0);" class="searchToggle icon icon-search"></a>
                    </div>

                    <a href="javascript:void(0);" id="menu-toggle">
                        <span>Menu</span>
                        <i class="icon icon-segment"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>