<footer id="footer">
    <div class="container">
    
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-12">
                <div class="row contact-info">
                    <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                        <div class="info-wrap">
                            <div class="iconWrap"><i class="fa fa-map-marker"></i></div>
                            <div [innerHTML]="settingData.contact_address" class="details">
                                
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                        <div class="info-wrap text-light">
                            <div class="iconWrap"><i class="fa fa-phone"></i></div>
                            <div class="details">
                               <a href="tel:{{settingData.contact_phone}}"> {{settingData.contact_phone}}</a>
                                
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                        <div class="info-wrap text-light">
                            <div class="iconWrap"><i class="icon icon-print1"></i></div>
                            <div class="details">
                                <a href="tel:{{settingData.fax}}">{{settingData.fax}}</a>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-lg-3 col-6 mb-3 mb-lg-0">
                        <div class="info-wrap text-light">
                            <div class="iconWrap"><i class="icon icon-email"></i></div>
                            <div class="details">
                                <a href="mailto:{{settingData.email}}">{{settingData.email}}</a>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="copyright mbl" >
                              <p>Copyright &copy; {{settingData.copyright}} <a class="copyrighttitle" routerLink="/index">Career Pathways Tools.</a> <br />All Rights Reserved.</p>
                      </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col-12">
                <div class="row foot-bottom">
                    <div class="col-md-5 col-12">
                        <a routerLink="/index" class="image-wrapper logo"><img *ngIf="settingData.footer_logo"  [attr.src]="apiFileUrl+settingData?.footer_logo" alt="Career Pathway"></a>
    
                        <div class="copyright dect" >
                            <!--<p [innerHTML]="settingData.copyright"></p>-->
                                <p>Copyright &copy; {{settingData.copyright}} <a class="copyrighttitle" routerLink="/index">Career Pathways Tools.</a> <br />All Rights Reserved.</p>
                               
                            
                        </div>
                    </div>
    
    
    
                    <div class="col-md-4 col-6">
                        <div class="foot-title">Quick Links</div>
                        <ul class="foot-menu">
                            <li><a routerLink="/index">Home</a></li>
                            <li><a routerLink="/about-us">About Us</a></li>
                            <li><a routerLink="/how-it-works">How It Works</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>
                            <li><a routerLink="/faq">FAQ</a></li>
                            <li><a routerLink="/terms-and-conditions">Terms and Conditions</a>
                        </ul>
                    </div>
    
    
    
                    
                    <div class="col-md-3 col-6">
                        <div class="foot-title">Follow Us</div>
                        <ul class="social-wrap">
                            <li>
                                <a href="{{settingData.facebook}}" target="
                                _blank">
                                    <i class="fa fa-facebook"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
    
                            <li>
                                <a href="{{settingData.twitter}}" target="
                                _blank">
                                    <i class="fa fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
    
                            <li>
                                <a href="{{settingData.linkedin}}" target="
                                _blank">
                                    <i class="fa fa-linkedin"></i>
                                    <span>Linked In</span>
                                </a>
                            </li>
    
                            <li>
                                <a href="{{settingData.instagram}}" target="
                                _blank">
                                    <i class="fa fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </footer>
    <a class="scrollup" href="javascript:void(0);" style="display: inline-block;">			
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>