<h2>My Profile</h2>
<hr>
<h3>Personal Information</h3>
<form [formGroup]="profilePersonalForm" (ngSubmit)="profilePersonalFormSubmitted()" autocomplete="off">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control"   formControlName="first_name">
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['first_name'].errors && 
            profilePersonalForm.controls['first_name'].hasError('required') && isProfileSaveClicked">First Name field is required</small>
            <small class="text-danger d-block mt-3" *ngIf="profilePersonalForm.controls['first_name'].errors && 
            profilePersonalForm.controls['first_name'].hasError('pattern') && isProfileSaveClicked">First Name should contain letters and in-between space only.</small>
            
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control"  formControlName="last_name">
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['last_name'].errors && 
            profilePersonalForm.controls['last_name'].hasError('required') && isProfileSaveClicked">Last Name field is required</small>
            <small class="text-danger d-block mt-3" *ngIf="profilePersonalForm.controls['last_name'].errors && 
            profilePersonalForm.controls['last_name'].hasError('pattern') && isProfileSaveClicked">Last Name should contain letters and in-between space only.</small>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label>Gender <span class="text-danger">*</span></label>
                <ul class="radio-list">
                    <li>
                        <label class="container-radio gendercls">Male
                          <input type="radio"  formControlName="gender" [value]="1">
                          <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="container-radio gendercls">Female
                              <input type="radio"  formControlName="gender" [value]="2">
                              <span class="checkmark"></span>
                            </label>
                    </li>
                     <li>
                        <label class="container-radio gendercls">Non-binary
                              <input type="radio"  formControlName="gender" [value]="3">
                              <span class="checkmark"></span>
                            </label>
                    </li>
                     
                </ul>
                <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['gender'].errors && 
                profilePersonalForm.controls['gender'].hasError('required') && isProfileSaveClicked">Gender is required</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Email ID <span class="text-danger">*</span></label>
                <input type="email" placeholder="Email ID" class="form-control"  formControlName="email">
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['email'].errors && 
            profilePersonalForm.controls['email'].hasError('required') && isProfileSaveClicked">Email ID field is required</small>
        <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['email'].errors && 
        profilePersonalForm.controls['email'].hasError('pattern') && isProfileSaveClicked">Please enter a valid Email ID.</small>
        <small class="text-danger d-block mt-3 fm" *ngIf="duplicateEmailStat==1 && isProfileSaveClicked">{{duplicateEmailMsg}}</small>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Please share your preferred pronouns.</label>
                <input type="text" class="form-control"   formControlName="user_bio">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Mobile No. <span class="text-danger">*</span></label>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <input type="text" placeholder="Mobile No." class="form-control"   formControlName="contact_no">
                    </div> 
                    <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['contact_no'].errors && 
                    profilePersonalForm.controls['contact_no'].hasError('required') && isProfileSaveClicked">Mobile Number field is required</small>
                    <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['contact_no'].errors && 
                                    profilePersonalForm.controls['contact_no'].hasError('pattern') && isProfileSaveClicked">Mobile Number must be 10 digit number.</small> 
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Alternate Email ID</label>
                <input type="email" placeholder="Alternate Email" class="form-control"   formControlName="email_altername">
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['email_altername'].errors && 
            profilePersonalForm.controls['email_altername'].hasError('pattern') && isProfileSaveClicked">Enter a valid Email ID.</small>
                                    <small class="text-danger d-block mt-3" *ngIf="alternateEmailStat==1 && isProfileSaveClicked">{{alternateEmailMsg}}</small>
        </div>
        <div class="col-lg-12">
            <div class="form-group fiel">
                <label>Address <span class="text-danger">*</span></label>
                <textarea placeholder="Address Line1, Address Line2, State, Country" class="form-control" formControlName="address"  ></textarea>
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profilePersonalForm.controls['address'].errors && 
            profilePersonalForm.controls['address'].hasError('required') && isProfileSaveClicked">Address field is required</small>
        </div>
        <div class="col-lg-12">
            <div class="form-group text-right">
                    <!--<input type="submit" class="btn btn-default small" value="Update">-->
                    <button type="submit" class="btn btn-default small" id="personal_update">Update</button>
                    
                </div>
        </div>
    </div>


</form>
<h3>Educational Information</h3>
<form [formGroup]="profileEducationForm" (ngSubmit)="profileEducationFormSubmitted()" autocomplete="off">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Highest Qualification <span class="text-danger">*</span></label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel">
                <select class="form-control" formControlName="highest_qualification"  required>
                    <option value="">Select Qualification</option>
                    <option value="Middle School or less">Middle School or less</option>
                    <option value="High school">High school</option>
                    <option value="Collage or more">Collage or more</option>
                </select>
                <!--<input type="text" placeholder="Highest Qualification" class="form-control" formControlName="highest_qualification"  required >-->
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profileEducationForm.controls['highest_qualification'].errors && 
            profileEducationForm.controls['highest_qualification'].hasError('required') && isProfileEducationSaveClicked">Highest Qualification field is required</small>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel grade-field">
                <select class="form-control ghf" formControlName="highest_qualification_grade"  required>
                    <option value="">Select Grade</option>
                    <option value="Attending">Attending</option>
                    <option value="Completed">Completed</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                </select>
                <!--<input type="text" placeholder="90/80/70/A/B" class="form-control" formControlName="highest_qualification_grade"  required>-->
                <span class="grade-label">Grade</span>
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="profileEducationForm.controls['highest_qualification_grade'].errors && 
            profileEducationForm.controls['highest_qualification_grade'].hasError('required') && isProfileEducationSaveClicked">Grade field is required</small>
        </div>
    
        

  
        <div class="col-lg-6">
            <label>High school Diploma</label>
            <div class="form-group fiel grade-field">
           
                <input type="hidden"  formControlName="hs_qualification_title" >
                <!--<input type="text" placeholder="90/80/70/A/B" class="form-control" formControlName="hs_qualification_grade"  >-->
                <select class="form-control ghf" formControlName="hs_qualification_grade"  required>
                    <option value="">Select Grade</option>
                    <option value="Attending">Attending</option>
                    <option value="Completed">Completed</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                </select>
                <span class="grade-label">Grade</span>
            </div>
        </div>
        <div class="col-lg-6">
            <label>10th Grade</label>
            <div class="form-group fiel grade-field">
                
                <input type="hidden"  formControlName="school_qualification_title" >
                <select class="form-control ghf" formControlName="school_qualification_grade"  required>
                    <option value="">Select Grade</option>
                    <option value="Attending">Attending</option>
                    <option value="Completed">Completed</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                </select>
                <!--<input type="text" placeholder="90/80/70/A/B" class="form-control" formControlName="school_qualification_grade" >-->
                <span class="grade-label">Grade</span>
            </div>
        </div>

    </div>
    

    <div class="col-lg-12">
        <div class="form-group text-right">
                <!--<input type="submit" class="btn btn-default small" value="Update" id="basicSubmit">-->
                <button type="submit" class="btn btn-default small" id="basicSubmit">Update</button>
            </div>
    </div>

</form>

<form [formGroup]="certificateForm" (ngSubmit)="certificateSubmit()">
    <div class="row">
        <div class="col-lg-12">
            <label>Certificate Course</label><a href="javascript:void(0);" id="auto_trigger" class="plus-btn" (click)="addCertificate()"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    
   <div formArrayName="certificates">
    <div class="row"  *ngFor="let certificate_val of certificates().controls; let i = index" [formGroupName]="i" >
        <div class="col-lg-6">
            <div class="form-group fiel">
                <input type="hidden"  formControlName="course_type_id"  >
                <input type="hidden"  formControlName="cert_tid"  >
                <input type="text" placeholder="Certificate Name *" class="form-control" formControlName="cert_qualification_title" required >
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="certificates().controls[i].get('cert_qualification_title')?.errors?.required && isProfileCertificateSaveClicked">Certificate field is required</small>
        </div>
        <div class="col-lg-5">
            <div class="form-group fiel grade-field">
                <!--<input type="text" placeholder="90/80/70/A/B *" class="form-control" formControlName="cert_qualification_grade" required >-->
                <select class="form-control ghf" formControlName="cert_qualification_grade"  required>
                    <option value="">Select Grade</option>
                    <option value="Attending">Attending</option>
                    <option value="Completed">Completed</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                </select>
                <span class="grade-label">Grade</span>
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="certificates().controls[i].get('cert_qualification_grade')?.errors?.required && isProfileCertificateSaveClicked">Grade field is required</small>
        </div>
        <div class="col-lg-1">
        <a href="javascript:void(0);" class="plus-btn" (click)="removeCertificate(i)"><i class="fa fa-minus" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group text-right">
            <!--<input type="submit" class="btn btn-default small" value="Update">-->
            <button type="submit" class="btn btn-default small" id="certsubmitbtn">Update</button>
        </div>
</div>
</form>
<form [formGroup]="diplomaForm" (ngSubmit)="diplomaSubmit()">
    <div class="row">
        <div class="col-lg-12">
            <label>Diploma Course</label><a href="javascript:void(0);" id="auto_trigger_diploma" class="plus-btn" (click)="addDiploma()"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    <div formArrayName="diplomas">
    <div class="row diploma" *ngFor="let diploma_val of diplomas().controls; let j= index" [formGroupName]="j" >
        <div class="col-lg-6">
            <div class="form-group fiel">
                <input type="hidden"  formControlName="diploma_tid" >
                <input type="hidden"  formControlName="diploma_course_types_id"  >
                <input type="text" placeholder="Diploma Name *" class="form-control" formControlName="diploma_qualification_title"  >
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="diplomas().controls[j].get('diploma_qualification_title')?.errors?.required && isProfileDiplomaSaveClicked">Diploma field is required</small>
        </div>
        <div class="col-lg-5">
            <div class="form-group fiel grade-field">
                <!--<input type="text" placeholder="90/80/70/A/B *" class="form-control" formControlName="diploma_qualification_grade" >-->
                <select class="form-control ghf" formControlName="diploma_qualification_grade"  required>
                    <option value="">Select Grade</option>
                    <option value="Attending">Attending</option>
                    <option value="Completed">Completed</option>
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                </select>
                <span class="grade-label">Grade</span>
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="diplomas().controls[j].get('diploma_qualification_grade')?.errors?.required && isProfileDiplomaSaveClicked">Grade field is required</small>
        </div>
        <div class="col-lg-1">
            <a href="javascript:void(0);" class="plus-btn" (click)="removeDipoma(j)"><i class="fa fa-minus" aria-hidden="true"></i></a>
            </div>

    </div>
    </div>


       
       
        <div class="col-lg-12">
            <div class="form-group text-right">
                    <!--<input type="submit" class="btn btn-default small" value="Update">-->
                    <button type="submit" class="btn btn-default small" id="dipsubmitbtn">Update</button>
                </div>
        </div>
    


</form>

 <h3>Work experience</h3>
<form [formGroup]="experienceForm" (ngSubmit)="experienceFormSubmitted()">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Total Work Experience: <span id="exp_yr">{{totalExpYear}}</span> Year <span id="exp_month">{{totalExpMonth}}</span> Month</label>
            </div>
        </div>
        
        <!--<div class="col-lg-6">
            <label>Year</label>
            <div class="form-group fiel grade-field">
                <input type="number" class="form-control" id="exp_yr"  value="" min="0" readonly>
                 
            </div>
        </div>
         <div class="col-lg-6">
            <label>Month</label>
            <div class="form-group fiel grade-field">
                <input type="number" class="form-control" id="exp_month"  value=""  min="0" readonly>
            </div>
        </div>-->
    </div>
    
        <div class="row">
            <div class="col-lg-12">
                <label>Experiences</label>

                <a href="javascript:void(0);" id="auto_trigger_experience" class="plus-btn" (click)="addExperience()"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
       
    <div formArrayName="experiences">
       
           
        
    <div class="row experienceblock relativeremovebtn"  *ngFor="let experience_val of experiences().controls; let k = index" [formGroupName]="k" >
        <div class="removebtn">
            <a href="javascript:void(0);" class="plus-btn" (click)="removeExperience(k)" *ngIf="experiences().controls.length > 1"><i class="fa fa-minus" aria-hidden="true"></i></a>
        </div>
            <input type="hidden" formControlName="exp_id" value="" >
            <div class="col-lg-6">
                <div class="form-group fiel">
                    <input type="text" placeholder="Company Name *" class="form-control" formControlName="company_name">
                </div>
                <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('company_name')?.errors?.required && isExperienceSaveClicked">Company Name field is required</small>
            </div>
            <div class="col-lg-6">
                <div class="form-group fiel">
                    <input type="text" placeholder="Designation *" class="form-control" formControlName="designation">
                </div>
                <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('designation')?.errors?.required && isExperienceSaveClicked">Designation field is required</small>
            </div>
        
        
            <div class="col-lg-12">
                <div class="form-group fiel">
                    <input type="text" placeholder="Job Role *" class="form-control" formControlName="job_role">
                </div>
                <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('job_role')?.errors?.required && isExperienceSaveClicked">Job Role field is required</small>
            </div>
   
            <div class="col-lg-6">
                <div class="form-group fiel grade-field date-ff">
                    <input type="date" placeholder="May 31, 2018 *" class="form-control" formControlName="work_from">
                    <span class="grade-label">From</span>
                    <!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
                </div>
                <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('work_from')?.errors?.required && isExperienceSaveClicked">From field is required</small>
            </div>
            <div class="col-lg-6">
                <div class="form-group fiel grade-field date-ff">
                    <input type="date" placeholder="May 31, 2019 *" class="form-control" formControlName="work_to">
                    <span class="grade-label">To</span>
                    <!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
                </div>
                <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('work_to')?.errors?.required && isExperienceSaveClicked">TO field is required</small>
            </div>
        <div class="col-lg-12">
            <div class="form-group fiel">
                <textarea placeholder="Job Dedscription *" class="form-control" formControlName="job_description"></textarea>
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="experiences().controls[k].get('job_description')?.errors?.required && isExperienceSaveClicked">Job Description field is required</small>
        </div>
        
        
            

    </div>
    </div>
       
       
        <div class="col-lg-12">
            <div class="form-group text-right">
                    <!--<input type="submit" class="btn btn-default small" value="Update">-->
                    <button type="submit" class="btn btn-default small" id="expsubmitbtn">Update</button>
                </div>
        </div>
   


</form>
<h3>Self Assesment</h3>
<form [formGroup]="assessmentForm" (ngSubmit)="assessmentFormSubmitted()" autocomplete="off">
    <div class="row">
        
      
        <div class="col-lg-12">
            <label>SUSTAINABLE WAGE <span class="text-danger">*</span></label>
            <div class="form-group fiel edit-filed">
                <input type="number" placeholder="Enter Wage in $ " class="form-control" formControlName="sustainable_wage" required min="1" step="0.1">
               
            </div>
            <small class="text-danger d-block mt-3 fm" *ngIf="assessmentForm.controls['sustainable_wage'].errors && 
            assessmentForm.controls['sustainable_wage'].hasError('required') && isAssessmentSaveClicked">Sustainable Wage field is required</small>
            <small class="text-danger d-block mt-3 fm" *ngIf="assessmentForm.controls['sustainable_wage'].errors && 
            assessmentForm.controls['sustainable_wage'].hasError('pattern') && isAssessmentSaveClicked">Please enter a valid wage.</small>
        </div>
        
        <div class="col-lg-12">
            <div class="form-group1">
                <label>Works Interests (Can add multiple) <span class="text-danger">*</span></label>
            </div>
            <div class="form-group sel fiel grade-field edit-filed">
                <div style="width:100%" *ngIf="StatusInterestList">
                    <ng-multiselect-dropdown
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [required]='requiredField'
                    (onSelect)="onItemSelect1($event)"
                    formControlName="user_work_interests">
                    </ng-multiselect-dropdown>
                    </div>
               
                
            </div>
            
            <small class="text-danger d-block mt-3 fm" *ngIf="isAssessmentSaveClicked && (!assessmentForm.value.user_work_interests || assessmentForm.value.user_work_interests.length==0)">Works Interests field is required</small>
        </div>
        <div class="col-lg-12">
            <div class="form-group1">
                <label>Work Values (Can add multiple) <span class="text-danger">*</span></label>
            </div>
            <div class="form-group fiel grade-field edit-filed sel">
                <div style="width:100%" *ngIf="StatusValueList">
                    <ng-multiselect-dropdown
                    [settings]="dropdownSettingsVal"
                    [data]="dropdownListVal"
                    [required]="requiredField2"
                    (onSelect)="onItemSelect2($event)"
                    formControlName="user_work_values">
                    </ng-multiselect-dropdown>
                    </div>
               
                
            </div>
            
            <small class="text-danger d-block mt-3 fm" *ngIf="isAssessmentSaveClicked && (!assessmentForm.value.user_work_values || assessmentForm.value.user_work_values.length==0)">Works values field is required</small>
        </div>
        

        <div class="col-lg-12">
            <div class="form-group text-right">
                    <!--<input type="submit" class="btn btn-default small" value="Update">-->
                    <button type="submit" class="btn btn-default small" id="asssubmitbtn">Update</button>
                </div>
        </div>
        

    </div>
       
     

</form>
<div class="col-lg-12 fav-bx-in" *ngIf="pageData?.fav_careers?.length>0">
    <h3>My Favourite Careers</h3>

    <div class="fav-bx" *ngFor="let item of pageData?.fav_careers">
        <h4>{{item.career_title}}</h4>
        <ul>
            <li>Job Sector: {{item.sector}}</li>
            <li>Career Track: {{item.career_track}}</li>
            <li>Jobe Zone: {{item.job_zone}}</li>
        </ul>
        <p>{{item.short_description}}</p>

    </div>
    
</div>
