 <!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">FAQs</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->
 <!---------------------------------------------------------------- MAIN CONETNT -------->
 <main class="content">

    <section class="faq">

        <div class="container">
             <div class="main-heading">FAQs</div>
            <div class="row">
        <div class="col-md-12 acd">
          <div class="accordion" id="accordionExample">

              <div class="card" *ngFor="let item of pageData.faqs; index as i">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true" attr.aria-controls="collapse{{i}}">
                      {{item.questioon}} #{{i+1}} <span><i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </h5>
                </div>

                <div [id]="'collapse'+i" class="collapse" [class.show] = "i === 0" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body" [innerHtml]="item.answer">
                    
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  </section>

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->