<main id="home" class="content">



    <!------------------- Inner Page BANNER -->
    <section id="innerbanner">
        <div class="innerbanner-wrapper">
            <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
            <div class="breadcrumb">
                <ul class="wow fadeInUp">
                    <li><a routerLink="/index">Home</a></li>
                    <span class="dash"></span>
                    <li><a href="javascript:void(0);">Interactive Search</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!------------------- /Inner Page BANNER -->







    <!------------------- Inner Page SearchResult Interactive -->
    <section class="inner-pageheading">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="heading-section">
                        <h2>{{jobSectorName}}</h2>
                    </div>                            
                </div>
            </div>
        </div>
    </section>
    <section class="fillter-section">
    <div class="filter_topfull">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="sideblock">
                        <div class="heading-toppart">
                            <h3>Filters</h3>
                            <div class="clearall"><a href="javascript:void(0);" (click)="unselectAll()">Clear all</a></div>                   
                        </div>
                        <form>
                            <div class="filter_side">
                                <div class="flbox">
                                    <span class="fltext" *ngIf="selectedJobLevel==''  && selectedWage==''">

                                        No Filter Selected
                                    </span>
                                    <span class="fltext" *ngIf="selectedJobLevel!=''">
                                        <a href="javascript:void(0);" (click)="closeSelected('jl')"><em></em></a> 
                                        {{selectedJobLevel}}
                                    </span>
                                   
                                    <span class="fltext" *ngIf="selectedWage!=''">
                                        <a href="javascript:void(0);" (click)="closeSelected('wg')"><em></em></a> 
                                        {{selectedWage}}
                                    </span>
                                    
                                                                                  
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="sideblock">
                        <div class="heading-toppart">
                            <h3>Job level</h3>
                        </div>
                        <div class="select_box">
                            <form>
                                <select class="form-control" name="job_level" id="job_level"  [(ngModel)]="jobLevel"  (ngModelChange)="onJoblevelSelected($event)">
                                    <option value="" [attr.data-id]="">Select Job Level</option>
                                    <option  *ngFor="let jl of filterData.job_levels" [value]="jl.id" [attr.data-id]="jl.title">{{jl.title}}</option>
                                </select>          
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="sideblock">
                        <div class="heading-toppart">
                            <h3>Wages</h3>
                        </div>
                        <form>
                            <div class="pricerange_box">
                                <div class="form-group fiel range-field">
                                    <div id="slider-range"></div>
                                            <input type="text" id="amount" class="form-control" readonly>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <a routerLink="/search" class="btn btn-default small">Back To List View</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>                
    </section>
    
    <section class="calendar-view">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mapnav_slide">
                        <div class="mapnavSlide owl-carousel owl-theme">							
                            <div class="item"  *ngFor="let jsec of jobSectorsMaster">
                                <a href="javascript:void(0);" class="mtab " [class.active] = "jsec.id == jobSector" (click)="currentSelectedSector(jsec.id,jsec.title)">{{jsec.title}}</a>
                            </div>
                        </div>							
                    </div>
                    
                    <!-- Calendar view -->
                    <div class="map-box bx">
                     <div id="map">
                        <div class="map-grid">
                            <ng-container *ngFor="let item of careerData">
                            <ng-container *ngFor="let carer of item.job_level_1_2_modified">
                                <div *ngIf="carer.id>0" class="{{carer.div_class}}" [attr.data-slug]="carer.slug" [attr.data-routes]="carer.rute" [attr.data-tooltips]="carer.short_description ">
                                    <a href="#" class="square color{{carer.id}}">
                                        <span class="border"></span>
                                        <span class="dot"></span>
                                    </a>
                                    <div class="title">{{carer.career_title}}</div>
                                    <div class="description">
                                        <div class="description-screen"></div>
                                        <div class="description-box">
                                            <div class="description-title">{{carer.career_title}}</div>
                                            <p>{{carer.short_description}}</p>
                                            <a routerLink="/career/{{carer.slug}}" class="button">Job Detail</a>
                                            <a href="#" class="close"></a>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let carer of item.job_level3_modified">
                                <div *ngIf="carer.id>0" class="{{carer.div_class}}" [attr.data-slug]="carer.slug" [attr.data-routes]="carer.rute" [attr.data-tooltips]="carer.short_description ">
                                    <a href="#" class="square color{{carer.id}}">
                                        <span class="border"></span>
                                        <span class="dot"></span>
                                    </a>
                                    <div class="title">{{carer.career_title}}</div>
                                    <div class="description">
                                        <div class="description-screen"></div>
                                        <div class="description-box">
                                            <div class="description-title">{{carer.career_title}}</div>
                                            <p>{{carer.short_description}}</p>
                                            <a href="/career/{{carer.slug}}" class="button">Job Detail</a>
                                            <a href="#" class="close"></a>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngFor="let carer of item.job_level_4_above_modified">
                                <div *ngIf="carer.id>0" class="{{carer.div_class}}" [attr.data-slug]="carer.slug" [attr.data-routes]="carer.rute" [attr.data-tooltips]="carer.short_description ">
                                    <a href="#" class="square color{{carer.id}}">
                                        <span class="border"></span>
                                        <span class="dot"></span>
                                    </a>
                                    <div class="title">{{carer.career_title}}</div>
                                    <div class="description">
                                        <div class="description-screen"></div>
                                        <div class="description-box">
                                            <div class="description-title">{{carer.career_title}}</div>
                                            <p>{{carer.short_description}}</p>
                                            <a href="/career/{{carer.slug}}" class="button">Job Detail</a>
                                            <a href="#" class="close"></a>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            </ng-container>
                             

                         </div>
                         <!-- map grid ends -->
                        <div class="map-row">
                                <div class="row-label advanced">
                                    <div class="title"><span>Job Level 4 and above</span></div>
                                </div>
                                <div class="block advanced component"></div>
                                <div class="block advanced system"></div>
                                <div class="block advanced marketing"></div>
                                <div class="block advanced installation"></div>
                                <div class="block advanced installation "></div>
                                <div class="block advanced installation"></div>
                                <div class="block advanced installation"></div>
                                <div class="block advanced installation"></div>
                                <div class="block advanced installation"></div>
                                <div class="block advanced installation fifth"></div>
                            </div>
                        <div class="map-row">
                                <div class="row-label midlevel">
                                    <div class="title"><span>Job Level 3</span></div>
                                </div>
                                <div class="block midlevel component"></div>
                                <div class="block midlevel system"></div>
                                <div class="block midlevel marketing"></div>
                                <div class="block midlevel installation"></div>
                                <div class="block midlevel installation "></div>
                                <div class="block midlevel installation"></div>
                                <div class="block midlevel installation"></div>
                                <div class="block midlevel installation"></div>
                                <div class="block midlevel installation"></div>
                                <div class="block midlevel installation fifth"></div>
                            </div>
                        <div class="map-row">
                            <div class="row-label entry">
                                <div class="title">
                                    <span>Job Level 1-2</span>
                                </div>
                            </div>
                            <div class="block entry component"></div>
                            <div class="block entry system"></div>
                            <div class="block entry marketing"></div>
                            <div class="block entry installation"></div>
                            <div class="block entry installation fifth"></div>
                            <div class="block entry electrical"></div>
                            <div class="block entry mechanical"></div>
                            <div class="block entry civil"></div>
                            <div class="block entry aviation"></div>
                            <div class="block entry networking"></div>
                        </div>
                            
                        <div class="map-row vert-match">
                                <div class="axis-label">
                                    <div class="axis-info tooltipped vert-match-box-1" data-slug="axis-info">
                                            <a href="#" class="tooltip-toggle vcenter"><i class="icon icon-help-circle"></i></a>
                                            <div class="tooltip">
                                                <div class="tooltip-box">
                                                    <div class="close-float"></div>
                                                    <p>Along the y-axis, jobs sit at three skill levels: <strong>Entry</strong> (pre-apprentice or apprentice-level, less than a 2-year post-secondary credential, 1-3 years experience), <strong>Mid-</strong> (journey or associate's level, 3-5 years experience), <strong>Advanced</strong> (master craft or bachelor's level and higher, 5+ years experience).</p>
                                                    <p>Along the x-axis, jobs fall into four broad sectors: <strong>Manufacturing</strong>, <strong>System Design</strong>, <strong>Project Development</strong>, <strong>Installation & Operations</strong>. There is much overlap and conversation between these linked segments of <a href="https://www.irecsolarcareermap.org/about-the-industry">the solar value chain</a>.</p>
                                                    <a href="#" class="close"></a>
                                                    <div class="arrow"></div>
                                                    <div class="arrow border"></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-label component" *ngFor="let item of careerData; index as i">
                                    <div class="title vert-match-box-1">
                                        <div class="vcenter">{{item.career_tracks_title}}</div>
                                    </div>
                                </div>
                                

                            </div>
                    
                        </div>    
                    </div>
                     <div class="legend_guide">
                            <ul>
                                <li>
                                    <span class="color" style="background:#f0dba6;"></span> Lowest Salary
                                </li>
                                <li>
                                    <span class="color" style="background:#f7ca54;"></span> Medium Salary
                                </li>
                                <li>
                                    <span class="color" style="background:#b68810;"></span> Highest Salary
                                </li>
                            </ul>
                        </div>                            
                    <!-- /Calendar view -->
                </div>
            </div>    
        </div>    
    </section>
    <!------------------- /Inner Page SearchResult Interactive -->

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->