<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">Contact Us</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->
<!---------------------------------------------------------------- MAIN CONETNT -------->
<main id="contactPages" class="content contact">
<section>
    <div class="container">
        <div class="form-title text-center mb-4">{{pageData?.page_title}}</div>
        <div class="tab-content" id="registerTabsContent">


            <!-------------------------- Contact -->
           
           
                <div class="row">
                    <div class="col-lg-4 d-none d-lg-block left">
                        <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.contact_us_left_image" alt=""></div>
                    </div>

                    <div class="col-lg-8">
                        
                        <form [formGroup]="contactForm" (ngSubmit)="contactFormSubmitted()" autocomplete="off">

                            <div class="form-group">
                                <label for="">Name <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" id="contact_name" formControlName="contact_name" placeholder="Your Name"  autocomplete="off" required>

                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_name'].errors && 
                                contactForm.controls['contact_name'].hasError('required') && isContactSaveClicked">Name field is required</small>
                                
                            </div>
                            

                            <div class="form-group">
                                <label for="">Email ID <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <i class="icon icon-email"></i>
                                    <input type="email" class="form-control" id="contact_email" formControlName="contact_email" placeholder="Your Email Id"   autocomplete="off" required>

                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_email'].errors && 
                                contactForm.controls['contact_email'].hasError('required') && isContactSaveClicked">Email ID field is required</small>
                            <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_email'].errors && 
                            contactForm.controls['contact_email'].hasError('pattern') && isContactSaveClicked">Please enter a valid Email ID.</small>
                                
                            </div>

                            
                            <div class="form-group">
                                <label for="">Contact No. <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <i class="fa fa-phone"></i>
                                    <input type="text" class="form-control" id="contact_no" formControlName="contact_no"   autocomplete="off" placeholder="Your Contact Number" required>

                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_no'].errors && 
                                contactForm.controls['contact_no'].hasError('required') && isContactSaveClicked">Mobile Number field is required</small>
                                    <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_no'].errors && 
                                    contactForm.controls['contact_no'].hasError('pattern') && isContactSaveClicked">Mobile Number must be 10 digit number.</small>
                                
                            </div>

                            <div class="form-group">
                                <label for="">Your Enquiry <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <i class="fa fa-question"></i>
                                    <textarea class="form-control" id="contact_enquiry" formControlName="contact_enquiry"   autocomplete="off" placeholder="Your Query" required></textarea>

                                </div>
                                <small class="text-danger d-block mt-3" *ngIf="contactForm.controls['contact_enquiry'].errors && 
                                contactForm.controls['contact_enquiry'].hasError('required') && isContactSaveClicked">Enquiry field is required</small>
                                
                            </div>
                            

                            <div class="buttons">
                                <!--<input type="submit" class="btn btn-default small px-5" value="Submit">-->
                                <button type="submit" class="btn btn-default small px-5" id="contactreqSubmit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    
    
</section>
</main>