<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">About Us</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->

 <!---------------------------------------------------------------- MAIN CONETNT -------->
 
<section>
<div class="container" >
<div class="row descriptioncls" [innerHTML]="pageData?.page_description">

</div>
</div>
</section>
<section id="bottomsection">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-6 left text-center text-md-left wow fadeInLeft">
                <div class="h1 title hed-sec" [innerHTML]="pageData?.about_others?.about_title"></div>
                <p>{{ pageData?.about_others?.about_description | slice:0:120 }}{{pageData?.about_others?.about_description.length > 120 ? '...' : ''}}</p>


                <div class="row">
                    <div class="col-sm-6 mb-4 mb-md-0">
                        <div class="item">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_logo1" alt=""></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_logo2" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 bgimage wow fadeInRight">
                <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_image" alt=""></div>
            </div>
        </div>

    </div>
</section>
 <!---------------------------------------------------------------- /MAIN CONETNT -------->