<!---------------------------------------------------------------- MAIN CONETNT -------->
<main id="home" class="content">

    <section class="error-section mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="errormessage-box">
                        <div class="sorry-iconbox"><img src="assets/images/sademoji.png"></div>
                        <h1>404</h1>
                        <p>opps! page not found</p>
                        <a routerLink="/index" class="btn btn-default small circleeffect backbutton">Back</a>
                    </div>
                </div>
            </div>
        </div>                   
    </section>
    
    
    <!------------------- /Inner Page SearchResult Interactive -->

</main>