<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->

 <!---------------------------------------------------------------- MAIN CONETNT -------->
 
<section>
<div class="container" >
<div class="row descriptioncls" [innerHTML]="pageData?.page_description">

</div>
</div>
</section>

 <!---------------------------------------------------------------- /MAIN CONETNT -------->