#map{padding: 0; float: left; width: 100%;}
#map .routes { padding-left:4%; }
	#map .routes ul.tabs { width:100%; list-style:none; padding:0; margin:0; }
	#map .routes ul.tabs li { float:left; width:33.333%; padding:0; margin:0; }
	#map .routes ul.tabs li a { display:block; text-align:center; color:#616161; font-weight:700; line-height:1.25em; text-transform:uppercase; text-decoration:none; background-color:#f4f4f4; border-left:3px solid #fff; border-right:3px solid #fff; }
	#map .routes ul.tabs li a .vcenter { padding:8px 15px; }
	#map .routes ul.tabs li:first-child { width:33.334%; }
	#map .routes ul.tabs li:first-child a { border-left:none; }
	#map .routes ul.tabs li:last-child a { border-right:none; }
	#map .routes ul.tabs li a:hover { background-color:#ccc; }
	#map .routes ul.tabs li a.active { color:#fff; background-color:#8f8d8e; }
	#map .routes ul.tabs li ul { display:none; }
	#map .routes .description { background-color:#8f8d8e; padding:15px 0; }
	#map .routes .description .tab-content { display:none; color:#fff; line-height:1.5em; }
	#map .routes .description .tab-content.active { display:block; }
	#map .routes .description .tab-content .text p { font-size:0.825em; padding:0 15px; }
	#map .routes .description .tab-content .subroutes ul { list-style:none; padding:0; margin:0; }
	#map .routes .description .tab-content .subroutes ul li { padding:0; margin:0; }
	#map .routes .description .tab-content .subroutes ul li a { display:block; font-size:0.825em; color:#fff; font-weight:700; text-decoration:none; padding:5px 15px; margin:0; }
	#map .routes .description .tab-content .subroutes ul li a:hover { background-color:#797979; }
	#map .routes .description .tab-content .subroutes ul li a.active { color:#f79e1e; background-color:#616161; }

	#map .map-row .row-label,
	#map .map-row .axis-label { float:left; width:4%; text-align:center; }
	#map .map-row .axis-label a.tooltip-toggle { display:none; text-decoration:none; }
	#map .map-row .axis-label a.tooltip-toggle i { color:#616161; font-size:1.15em; text-decoration:none; }
	#map .map-row .axis-label a:hover.tooltip-toggle i { color:#9f1d45; }
	#map .map-row .axis-label .tooltip { bottom:0; }
	#map .map-row .axis-label .tooltip .tooltip-box { width:175px; margin-left:-200px; }
	#map .map-row .axis-label .tooltip .tooltip-box .arrow { z-index:5; left:100%; bottom:15px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-color:rgba(255, 255, 255, 0); border-left-color:#fff; border-width:10px; margin-bottom:-10px; }
	#map .map-row .axis-label .tooltip .tooltip-box .arrow.border { border-left-color:#616161; z-index:4; border-width:16px; margin-bottom:-16px; }
	#map .map-row .row-label { height:200px; /*background:#fff url('../images/line-vertical-gray.png') center center repeat-y;*/ }
	#map .map-row .row-label.entry { /*background:#fff url('../images/line-vertical-gray.png') center -100px no-repeat; */}
	#map .map-row .row-label.advanced { /*background:#fff url('../images/line-vertical-gray.png') center 100px no-repeat; */}
	#map .map-row .row-label .title { float:left; width:200px; text-align:center; text-transform:uppercase; font-weight:700; -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); -moz-transform-origin:top right; -webkit-transform-origin:top right; -ms-transform-origin:top right; transform-origin:top right; margin-left:-200px; }
	#map .map-row .row-label .title span { background-color:#fff; padding:0 4px; }
	#map .map-row .row-label .title a i { float:left; font-size:1.125em; color:#616161; background-color:#fff; -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); }
	#map .map-grid { position:absolute; z-index:200; width:93.5%; height:600px; margin-left:3%;  }
	#map .map-grid .point { position:absolute; z-index:10; }
	#map .map-grid .point.selected { z-index:20; }
	#map .map-grid .point.x10-component.x10-left { left:2%; }
	#map .map-grid .point.x10-component.x20-center { left:5.5%; }
	#map .map-grid .point.x10-component.x30-right { left:16.6666%; }
	#map .map-grid .point.x20-system.x10-left { left:12.5%; }
	#map .map-grid .point.x20-system.x20-center { left:16%; }
	#map .map-grid .point.x20-system.x30-right { left:19.5%; }
	#map .map-grid .point.x30-marketing.x10-left { left:22.5%; }
	#map .map-grid .point.x30-marketing.x20-center { left:26%; }
	#map .map-grid .point.x30-marketing.x30-right { left:29.5%;; }
	#map .map-grid .point.x40-installation.x10-left { left:32.5%; }
	#map .map-grid .point.x40-installation.x20-center { left:36%; }
	#map .map-grid .point.x40-installation.x30-right { left:39.5%; }
	#map .map-grid .point.x50-sales.x10-left { left:43%; }
	#map .map-grid .point.x50-sales.x20-center { left:46%; }
	#map .map-grid .point.x50-sales.x30-right { left:49.5%; }
	#map .map-grid .point.x60-electrical.x10-left { left:52.5%; }
	#map .map-grid .point.x60-electrical.x20-center { left:56%; }
	#map .map-grid .point.x60-electrical.x30-right { left:59.5%; }
	#map .map-grid .point.x70-mechanical.x10-left { left:63%; }
	#map .map-grid .point.x70-mechanical.x20-center { left:66.3%; }
	#map .map-grid .point.x70-mechanical.x30-right { left:69.7%; }
	#map .map-grid .point.x80-civil.x10-left { left:73%; }
	#map .map-grid .point.x80-civil.x20-center { left:76.3%; }
	#map .map-grid .point.x80-civil.x30-right { left:79.7%; }
	#map .map-grid .point.x90-avation.x10-left { left:83%; }
	#map .map-grid .point.x90-avation.x20-center { left:86.3%; }
	#map .map-grid .point.x90-avation.x30-right { left:89.7%; }
	#map .map-grid .point.x100-networking.x10-left { left:92.5%; }
	#map .map-grid .point.x100-networking.x20-center { left:95.5%; }
	#map .map-grid .point.x100-networking.x30-right { left:98.5%; }

	#map .map-grid .point.y10-high-advanced { top:0%; }
	#map .map-grid .point.y20-mid-advanced { top:11.1111%; }
	#map .map-grid .point.y30-low-advanced { top:22.2222%; }
	#map .map-grid .point.y40-high-midlevel { top:33.3333%; }
	#map .map-grid .point.y50-mid-midlevel { top:44.4444%; }
	#map .map-grid .point.y60-low-midlevel { top:55.5555%; }
	#map .map-grid .point.y70-high-entry { top:66.6666%; }
	#map .map-grid .point.y80-mid-entry { top:77.7777%; }
	#map .map-grid .point.y90-low-entry { top:88.8888%; }
	#map .map-grid .point a.square { display:block; width:33px; height:33px; }
	#map .map-grid .point a.square .dot { padding: 0; position:absolute; z-index:20; display:block; background-color:#fff; border-radius:50%; }
	#map .map-grid .point a.square .dot:before{display: none;}
	#map .map-grid .point.active { z-index:11; }
	#map .map-grid .point.selected,
	#map .map-grid .point:hover.selected { z-index:14; }
	#map .map-grid .point.routed,
	#map .map-grid .point:hover.routed { z-index:unset;}
	#map .map-grid .point.selected a.square .dot.dimmed { background-color:#fff !important; }
	#map .map-grid .point a.square .border { position:absolute; z-index:10; display:block; background-color:#fff; border-radius:50%; border:4px solid #fff !important; opacity:0; }
	#map .map-grid .point.routed a.square .border,
	#map .map-grid .point.selected a.square .border,
	#map .map-grid .point.active a.square .border { opacity:1; }
	#map .map-grid .point .title { position:absolute; z-index:30; top:0; left:0; color:#3cea62; font-weight:700; display:none; text-shadow:0px 0px 1px rgba(0,0,0,0.75); }
	#map .map-grid .point .description { position:absolute; z-index:99999; top:66.666px; left:0; display:none; opacity:0; }
	#map .map-grid .point .description .description-screen { position:relative; height:10px; }
	#map .map-grid .point .description .description-box { position:relative; color:#616161; background-color:#fff; background-color:rgba(255,255,255,0.95); padding:15px; border-radius:10px; }
	#map .map-grid .point .description .description-box .arrow { z-index:5; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-color:rgba(255, 255, 255, 0); border-width:10px; margin-left:-10px; }
	#map .map-grid .point .description .description-box.arrow-center .arrow { left:50%; }
	#map .map-grid .point .description .description-box.arrow-left .arrow { left:9.5%; }
	#map .map-grid .point .description .description-box.arrow-right .arrow { left:90%; }
	#map .map-grid .point .description .description-box.arrow-top .arrow { bottom:100%; border-bottom-color:#fff; border-bottom-color:rgba(255,255,255,0.75); }
	#map .map-grid .point .description .description-box.arrow-bottom .arrow { top:100%; border-top-color:#fff; border-top-color:rgba(255,255,255,0.75); }
	#map .map-grid .point .description .description-box .description-title { font-size:0.875em; font-weight:700; padding-right:20px; margin-bottom:10px; }
	#map .map-grid .point .description .description-box p { font-size:0.750em; line-height:1.25em; margin-bottom:10px; }
	#map .map-grid .point .description .description-box a.button { display:inline-block; font-size:0.75em; color:#616161; font-weight:700; text-decoration:none; text-transform:uppercase; padding:5px; border:1px solid #616161; }
	#map .map-grid .point .description .description-box a:hover.button { color:#fff; background-color:#616161; }
	#map .map-grid .point .description .description-box a.close { position:absolute; top:14px; right:14px; width:15px; height:15px; background:transparent url('/img/icon-plus-black.png') center center no-repeat; background-size:15px 15px; -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
	#map .map-grid .line { position:absolute; z-index:12; display:block; width:0px; height:20px; background:transparent url('/img/map-line-horizontal-white.png') repeat-x left center; transform-origin:0 center; -webkit-transform-origin:0 center; -moz-transform-origin:0 center; -ms-transform-origin:0 center; display:none; opacity:0.5; }
	#map .map-grid .line.active { opacity:1; }
	#map .map-grid .tooltip { display:none; position:absolute; z-index:30; }
	#map .map-grid .tooltip .tooltip-box { position:relative; color:#616161; font-size:0.750em; line-height:1.25em; background-color:#fff; background-color:rgba(255,255,255,0.75); padding:15px; border-radius:10px; }
	#map .map-grid .tooltip.arrow-bottom .tooltip-box:after { top:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-color:rgba(255, 255, 255, 0); border-top-color:#fff; border-top-color:rgba(255,255,255,0.75); border-width:10px; margin-left:-10px; }
	#map .map-grid .tooltip.arrow-bottom.arrow-center .tooltip-box { text-align:center; }
	#map .map-grid .tooltip.arrow-bottom.arrow-center .tooltip-box:after { left:50%; }
	#map .map-grid .tooltip.arrow-side .tooltip-box:after {  top:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; border-color:rgba(255, 255, 255, 0); border-width:10px; margin-top:-10px; }
	#map .map-grid .tooltip.arrow-side.arrow-left .tooltip-box:after { right:100%; border-right-color:#fff; border-right-color:rgba(255,255,255,0.75); }
	#map .map-grid .tooltip.arrow-side.arrow-right .tooltip-box { text-align:right; }
	#map .map-grid .tooltip.arrow-side.arrow-right .tooltip-box:after { left:100%; border-left-color:#fff; border-left-color:rgba(255,255,255,0.75); }
	

	#map .map-row .block,
	#map .map-row .col-label { position:relative; float:left; width:24%; }
	#map .map-row .block.advanced.component { background-color:#fcdb05; }
	#map .map-grid .point.x10-component.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y30-low-advanced a.square .dot.dimmed { background-color:#fde650; }
	#map .map-row .block.advanced.system { background-color:#f79e1e; }
	#map .map-grid .point.x20-system.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y30-low-advanced a.square .dot.dimmed { background-color:#f9bb62; }
	#map .map-row .block.advanced.marketing { background-color:#ea5025; }
	#map .map-grid .point.x30-marketing.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y30-low-advanced a.square .dot.dimmed { background-color:#f08567; }
	#map .map-row .block.advanced.installation { background-color:#a4294e; }
	#map .map-grid .point.x40-installation.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y30-low-advanced a.square .dot.dimmed { background-color:#bf6a83; }
	#map .map-row .block.advanced.sales { background-color:#a4294e; }
	#map .map-grid .point.x50-sales.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x50-sales.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x50-sales.y30-low-advanced a.square .dot.dimmed { background-color:#bf6a83; }
	#map .map-row .block.midlevel.component { background-color:#fde237; }
	#map .map-grid .point.x10-component.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y60-low-midlevel a.square .dot.dimmed { background-color:#feeb73; }
	#map .map-row .block.midlevel.system { background-color:#f9b14b; }
	#map .map-grid .point.x20-system.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y60-low-midlevel a.square .dot.dimmed { background-color:#fbc981; }
	#map .map-row .block.midlevel.marketing { background-color:#ee7351; }
	#map .map-grid .point.x30-marketing.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y60-low-midlevel a.square .dot.dimmed { background-color:#f39d86; }
	#map .map-row .block.midlevel.installation { background-color:#b65471; }
	#map .map-grid .point.x40-installation.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y60-low-midlevel a.square .dot.dimmed { background-color:#cc889c; }
	#map .map-row .block.midlevel.sales { background-color:#b65471; }
	#map .map-grid .point.x50-sales.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x50-sales.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x50-sales.y60-low-midlevel a.square .dot.dimmed { background-color:#cc889c; }
	#map .map-row .block.entry.component { background-color:#fde650; }
	#map .map-grid .point.x10-component.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y90-low-entry a.square .dot.dimmed { background-color:#feee85; }
	#map .map-row .block.entry.system { background-color:#f9bb62; }
	#map .map-grid .point.x20-system.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y90-low-entry a.square .dot.dimmed { background-color:#fbd091; }
	#map .map-row .block.entry.marketing { background-color:#f08567; }
	#map .map-grid .point.x30-marketing.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y90-low-entry a.square .dot.dimmed { background-color:#f5aa95; }
	#map .map-row .block.entry.installation { background-color:#bf6a83; }
	#map .map-grid .point.x40-installation.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y90-low-entry a.square .dot.dimmed { background-color:#d297a8; }
	#map .map-row .block.entry.sales { background-color:#bf6a83; }
	#map .map-grid .point.x50-sales.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x50-sales.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x40-sales.y90-low-entry a.square .dot.dimmed { background-color:#d297a8; }
	
	#map .map-row .col-label { margin-bottom:20px; }
	#map .map-row .col-label .tail { width:49%; height:0; border-style:solid; border-color:transparent; }
	#map .map-row .col-label .tail.left { float:left; border-width:50px 100px 0 0; }
	#map .map-row .col-label .tail.right { float:right; border-width:0 100px 50px 0; }
	#map .map-row .col-label.component .tail.left { border-top-color:#fde650; }
	#map .map-row .col-label.component .tail.right { border-right-color:#fde650; }
	#map .map-row .col-label.system .tail.left { border-top-color:#f9bb62; }
	#map .map-row .col-label.system .tail.right { border-right-color:#f9bb62; }
	#map .map-row .col-label.marketing .tail.left { border-top-color:#f08567; }
	#map .map-row .col-label.marketing .tail.right { border-right-color:#f08567; }
	#map .map-row .col-label.installation .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.installation .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label.electrical .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.electrical .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label.mechanical .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.mechanical .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label.civil .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.civil .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label.aviation .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.aviation .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label.networking .tail.left { border-top-color:#bf6a83; }
	#map .map-row .col-label.networking .tail.right { border-right-color:#bf6a83; }
	#map .map-row .col-label .title { clear:both; text-align:center; text-transform:uppercase; font-weight:700; line-height:1.25em; padding:0 .5em; }



/*13082021*/
	#map .map-row .block.advanced.component { background-color: #E8C900;}
	#map .map-row .block.midlevel.component { background-color: #fcdb05;}
	#map .map-row .block.entry.component { background-color: #fde650;}



	#map .map-row .block.advanced.system { background-color: #EB8C03;}
	#map .map-row .block.midlevel.system { background-color: #f79e1e;}
	#map .map-row .block.entry.system { background-color: #f9bb62;}


	#map .map-row .block.advanced.marketing { background-color: #D5380C;}
	#map .map-row .block.midlevel.marketing { background-color: #ea5025;}
	#map .map-row .block.entry.marketing { background-color: #f08567;}

	#map .map-row .block.advanced.installation { background-color: #8B1C3E;}
	#map .map-row .block.midlevel.installation { background-color: #a4294e;}
	#map .map-row .block.entry.installation { background-color: #bf6a83;}

	#map .map-row .block.advanced.installation.fifth { background-color: #55031B;}
	#map .map-row .block.midlevel.installation.fifth { background-color: #7F092C;}
	#map .map-row .block.entry.installation.fifth { background-color: #C7436A;}

	#map .map-row .col-label.installation.fifth .tail.left { border-top-color: #C7436A;}
	#map .map-row .col-label.installation.fifth .tail.right { border-right-color: #C7436A;}


	/*#map .map-grid .point.x10-component.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y30-low-advanced a.square .dot.dimmed { background-color:#0078BA; }
	#map .map-grid .point.x20-system.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y30-low-advanced a.square .dot.dimmed { background-color:#0078BA; }
	#map .map-grid .point.x30-marketing.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y30-low-advanced a.square .dot.dimmed { background-color:#0078BA; }
	#map .map-grid .point.x40-installation.y10-high-advanced a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y20-mid-advanced a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y30-low-advanced a.square .dot.dimmed { background-color:#0078BA; }
	#map .map-grid .point.x10-component.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y60-low-midlevel a.square .dot.dimmed { background-color:#47BBFB; }
	#map .map-grid .point.x20-system.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y60-low-midlevel a.square .dot.dimmed { background-color:#47BBFB; }
	#map .map-grid .point.x30-marketing.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y60-low-midlevel a.square .dot.dimmed { background-color:#47BBFB; }
	#map .map-grid .point.x40-installation.y40-high-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y50-mid-midlevel a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y60-low-midlevel a.square .dot.dimmed { background-color:#47BBFB; }
	#map .map-grid .point.x10-component.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x10-component.y90-low-entry a.square .dot.dimmed { background-color:#C6EBFF; }
	#map .map-grid .point.x20-system.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x20-system.y90-low-entry a.square .dot.dimmed { background-color:#008EDD; }
	#map .map-grid .point.x30-marketing.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x30-marketing.y90-low-entry a.square .dot.dimmed { background-color:#C6EBFF; }
	#map .map-grid .point.x40-installation.y70-high-entry a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y80-mid-entry a.square .dot.dimmed,
	#map .map-grid .point.x40-installation.y90-low-entry a.square .dot.dimmed { background-color:#C6EBFF; }*/

#map .map-grid .point.x10-component.x30-right { left: 9.3%;}



/*#map .map-grid .point a.square.color1 .dot{background: #C6EBFF;}
#map .map-grid .point a.square.color2 .dot{background: #90D8FF;}
#map .map-grid .point a.square.color3 .dot{background: #5BC5FE;}
#map .map-grid .point a.square.color4 .dot{background: #19AEFE;}
#map .map-grid .point a.square.color5 .dot{background: #0194E3;}
#map .map-grid .point a.square.color6 .dot{background: #017BBE;}
#map .map-grid .point a.square.color7 .dot{background: #0371AC;}
#map .map-grid .point a.square.color8 .dot{background: #01649A;}*/







/*#map .map-grid .point.yl7 a.square.color5 .dot {background: #01649A;}
#map .map-grid .point.yl6 a.square.color5 .dot {background: #0371AC;}
#map .map-grid .point.yl6 a.square.color1 .dot {background: #017BBE;}
#map .map-grid .point.yl5 a.square.color7 .dot {background: #0194E3;}
#map .map-grid .point.yl4 a.square.color4 .dot {background: #19AEFE;}
#map .map-grid .point.yl4 a.square.color8 .dot {background: #19AEFE;}
#map .map-grid .point.yl3 a.square.color8 .dot {background: #5BC5FE;}
#map .map-grid .point.yl2 a.square.color1 .dot {background: #90D8FF;}
#map .map-grid .point.yl1 a.square.color6 .dot {background: #C6EBFF;}*/


#map .map-grid .point.x10-component.y10-high-advanced a.square .dot,
#map .map-grid .point.x30-marketing.y10-high-advanced a.square .dot,
#map .map-grid .point.x40-installation.y10-high-advanced a.square .dot,
#map .map-grid .point.x50-sales.y10-high-advanced a.square .dot,
#map .map-grid .point.x60-electrical.y10-high-advanced a.square .dot,
#map .map-grid .point.x70-mechanical.y10-high-advanced a.square .dot,
#map .map-grid .point.x80-civil.y10-high-advanced a.square .dot,
#map .map-grid .point.x90-avation.y10-high-advanced a.square .dot,
#map .map-grid .point.x100-networking.y10-high-advanced a.square .dot,
#map .map-grid .point.x20-system.y10-high-advanced a.square .dot{ background-color:#b68810; }
#map .map-grid .point.x10-component.y20-mid-advanced a.square .dot,
#map .map-grid .point.x20-system.y20-mid-advanced a.square .dot,
#map .map-grid .point.x30-marketing.y20-mid-advanced a.square .dot,
#map .map-grid .point.x50-sales.y20-mid-advanced a.square .dot,
#map .map-grid .point.x60-electrical.y20-mid-advanced a.square .dot,
#map .map-grid .point.x70-mechanical.y20-mid-advanced a.square .dot,
#map .map-grid .point.x80-civil.y20-mid-advanced a.square .dot,
#map .map-grid .point.x90-avation.y20-mid-advanced a.square .dot,
#map .map-grid .point.x100-networking.y20-mid-advanced a.square .dot,
	#map .map-grid .point.x40-installation.y20-mid-advanced a.square .dot{ background-color:#dda615; }
	 #map .map-grid .point.x10-component.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x20-system.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x30-marketing.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x50-sales.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x60-electrical.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x70-mechanical.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x80-civil.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x90-avation.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x100-networking.y30-low-advanced a.square .dot,
	 #map .map-grid .point.x40-installation.y30-low-advanced a.square .dot   { background-color:#f2bb2b; }
	
	#map .map-grid .point.x10-component.y40-high-midlevel a.square .dot,
	#map .map-grid .point.x20-system.y40-high-midlevel a.square .dot,
	#map .map-grid .point.x30-marketing.y40-high-midlevel a.square .dot,
	#map .map-grid .point.x50-sales.y40-high-midlevel a.square .dot,
	#map .map-grid .point.x60-electrical.y40-high-midlevel a.square .dot,
	 #map .map-grid .point.x70-mechanical.y40-high-midlevel a.square .dot,
	 #map .map-grid .point.x80-civil.y40-high-midlevel a.square .dot,
	 #map .map-grid .point.x90-avation.y40-high-midlevel a.square .dot,
	 #map .map-grid .point.x100-networking.y40-high-midlevel a.square .dot,
	#map .map-grid .point.x40-installation.y40-high-midlevel a.square .dot{ background-color:#f7ca54; }
	
	#map .map-grid .point.x20-system.y50-mid-midlevel a.square .dot,
	#map .map-grid .point.x10-component.y50-mid-midlevel a.square .dot,
	#map .map-grid .point.x30-marketing.y50-mid-midlevel a.square .dot,
	#map .map-grid .point.x50-sales.y50-mid-midlevel a.square .dot,
	#map .map-grid .point.x60-electrical.y50-mid-midlevel a.square .dot,
	 #map .map-grid .point.x70-mechanical.y50-mid-midlevel a.square .dot,
	 #map .map-grid .point.x80-civil.y50-mid-midlevel a.square .dot,
	 #map .map-grid .point.x90-avation.y50-mid-midlevel a.square .dot,
	 #map .map-grid .point.x100-networking.y50-mid-midlevel a.square .dot,
	#map .map-grid .point.x40-installation.y50-mid-midlevel a.square .dot{background-color:#f6d379;}
		
	#map .map-grid .point.x30-marketing.y60-low-midlevel a.square .dot,
	#map .map-grid .point.x20-system.y60-low-midlevel a.square .dot,
	#map .map-grid .point.x10-component.y60-low-midlevel a.square .dot,
	#map .map-grid .point.x50-sales.y60-low-midlevel a.square .dot,
	#map .map-grid .point.x60-electrical.y60-low-midlevel a.square .dot,
	 #map .map-grid .point.x70-mechanical.y60-low-midlevel a.square .dot,
	 #map .map-grid .point.x80-civil.y60-low-midlevel a.square .dot,
	 #map .map-grid .point.x90-avation.y60-low-midlevel a.square .dot,
	 #map .map-grid .point.x100-networking.y60-low-midlevel a.square .dot,
	#map .map-grid .point.x40-installation.y60-low-midlevel a.square .dot { background-color:#f5da92; }

	#map .map-grid .point.x10-component.y70-high-entry a.square .dot,
	#map .map-grid .point.x20-system.y70-high-entry a.square .dot,
	#map .map-grid .point.x40-installation.y70-high-entry a.square .dot,
	#map .map-grid .point.x50-sales.y70-high-entry a.square .dot,
	#map .map-grid .point.x60-electrical.y70-high-entry a.square .dot,
	#map .map-grid .point.x70-mechanical.y70-high-entry a.square .dot,
	#map .map-grid .point.x80-civil.y70-high-entry a.square .dot,
	#map .map-grid .point.x90-avation.y70-high-entry a.square .dot,
	#map .map-grid .point.x100-networking.y70-high-entry a.square .dot,
	#map .map-grid .point.x30-marketing.y70-high-entry a.square .dot { background-color:#f0dba6; }

	
	#map .map-grid .point.x10-component.y80-mid-entry a.square .dot,
	#map .map-grid .point.x20-system.y80-mid-entry a.square .dot,
	#map .map-grid .point.x50-sales.y80-mid-entry a.square .dot,
	#map .map-grid .point.x30-marketing.y80-mid-entry a.square .dot,
	#map .map-grid .point.x60-electrical.y80-mid-entry a.square .dot,
	#map .map-grid .point.x70-mechanical.y80-mid-entry a.square .dot,
	#map .map-grid .point.x80-civil.y80-mid-entry a.square .dot,
	#map .map-grid .point.x90-avation.y80-mid-entry a.square .dot,
	#map .map-grid .point.x100-networking.y80-mid-entry a.square .dot,
	#map .map-grid .point.x40-installation.y80-mid-entry a.square .dot{ background-color:#f7ebcc; }







	@media screen and (min-width:34em) {
		#topnav ul.nav li { display:table-cell; height:75px; }
		#topnav ul.nav li a { text-align:center; }
		#map { display:block; }
		.resources .resource-table { display:inline-block; float:left; width:31%; margin-right:2.333% }
		.industry .tabs li { float:left; width:25%; }
		.industry .tabs li a { display:block; padding:14px 10px 46px 10px; }
		.industry .tabs li a .plus { display:block; }
		.industry .video-menu a { float:left; width:20%; height:auto; background-position:center center; }
	}

	@media screen and (min-width:48em) {
		#topnav ul.nav { padding:0 0 0 4%; }
		#topnav ul.nav li { height:145px; }
		.job .marquee.hasImage .title { position:absolute; bottom:0; max-width:75%; background-color:#fff; padding:15px; margin-bottom:30px; }
		#footer .copyright { text-align:left; }
		#footer .logos { margin-top:-10px; }
		#footer .logos .list { float:right; width:70% }
		#footer .logos .support.irec { float:right; margin-top:-40px; }
		.industry .video-menu a .description { display:block; opacity:0; }
		.page-nav ul li.last, .page-nav ul li.next { display:block; }
		#map .map-row .axis-label a.tooltip-toggle { display:block; }

	}

	@media screen and (min-width:72em) {
		#sidebar .job-info .tooltip .tooltip-box { width:268px; margin-left:-170px; }
		#map .map-row .axis-label .tooltip .tooltip-box { width:268px; margin-left:-290px; }
	}


	@media screen and (max-width:72em) {
		#map .map-row .col-label .title,
		#map .map-row .row-label .title,
		#map .routes ul.tabs li a,
		#topnav ul.nav li a,
		#sidebar .title h2,
		.industry .tabs li a { font-size:0.825em; }
	}

#map .map-grid .point a:hover.square .dot {
	-moz-transition-property:background-color, width, height, top, left;
	-webkit-transition-property:background-color, width, height, top, left;
	-ms-transition-property:background-color, width, height, top, left;
	transition-property:background-color, width, height, top, left;
	-moz-transition-duration:.25s;
	-webkit-transition-duration:.25s;
	-ms-transition-duration:.25s;
	transition-duration:.25s;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}

#map .map-grid .point a.square .dot {
	-moz-transition-duration:.5s;
	-webkit-transition-duration:.5s;
	-ms-transition-duration:.5s;
	transition-duration:.5s;
}

#map .map-grid .point a:hover.square .border {
	-moz-transition-property:opacity, width, height, top, left;
	-webkit-transition-property:opacity, width, height, top, left;
	-ms-transition-property:opacity, width, height, top, left;
	transition-property:opacity, width, height, top, left;
	-moz-transition-duration:.25s;
	-webkit-transition-duration:.25s;
	-ms-transition-duration:.25s;
	transition-duration:.25s;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}

#map .map-grid .point a.square .border {
	-moz-transition-duration:.5s;
	-webkit-transition-duration:.5s;
	-ms-transition-duration:.5s;
	transition-duration:.5s;
}

#map .map-grid .line {
	-moz-transition-property:opacity;
	-webkit-transition-property:opacity;
	-ms-transition-property:opacity;
	transition-property:opacity;
	-moz-transition-duration:.5s;
	-webkit-transition-duration:.5s;
	-ms-transition-duration:.5s;
	transition-duration:.5s;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}

#map .map-grid .line:hover {
	-moz-transition-duration:.25s;
	-webkit-transition-duration:.25s;
	-ms-transition-duration:.25s;
	transition-duration:.25s;
}

/*21092021*/
#map .map-row:nth-child(2) > .block:nth-child(2){border-radius: 8px 0 0 0;}
#map .map-row:nth-child(2) > .block:last-child{border-radius: 0 8px 0 0;}
#map .map-row:nth-child(4) > .block:nth-child(2){border-bottom-left-radius: 8px;}
#map .map-row:nth-child(4) > .block:last-child{border-bottom-right-radius: 8px;}
.map-row.vert-match .col-label:nth-child(2) .tail.left{border-radius: 0px 0 0px 20px;}
.map-row.vert-match .col-label:last-child .tail.right{border-radius: 0px 0 20px 0;}

.legend_guide{clear: both; padding-top: 30px;margin-bottom: 30px}
.legend_guide ul{list-style: none; padding: 0; margin-bottom: 0; text-align: center;}
.legend_guide ul li{padding: 0; margin: 0 0 0 26px; display: inline-block; font-size: 14px; text-transform: uppercase; }
.legend_guide ul li:first-child{margin-left: 0;}
.legend_guide ul li .color{width: 50px; height:50px; margin:0 5px 0 0; vertical-align: middle; position: relative; top:-1px;display: inline-block;border-radius:100%;}
#map .map-row .block, #map .map-row .col-label{border-right: 1px solid #132028;border-bottom: 1px solid #132028;}
#map .map-row .col-label:last-child, #map .map-row .block:last-child{border-right: none;}

/*
#map .map-row .block.advanced.system, 
#map .map-row .block.advanced.marketing,
#map .map-row .block.advanced.installation,
#map .map-row .block.advanced.installation.fifth {
    background-color: #E8C900;
}
#map .map-row .block.midlevel.system,
#map .map-row .block.midlevel.marketing,
#map .map-row .block.midlevel.installation,
#map .map-row .block.midlevel.installation.fifth {
    background-color: #fcdb05;
}
#map .map-row .block.entry.system,
#map .map-row .block.entry.marketing,
#map .map-row .block.entry.installation,
#map .map-row .block.entry.installation.fifth {
    background-color: #fde650;
}
#map .map-row .col-label.system .tail.left,
#map .map-row .col-label.marketing .tail.left,
#map .map-row .col-label.installation .tail.left,
#map .map-row .col-label.installation.fifth .tail.left
 {
    border-top-color: #fde650;
}
#map .map-row .col-label.system .tail.right,
#map .map-row .col-label.marketing .tail.right,
#map .map-row .col-label.installation .tail.right,
#map .map-row .col-label.installation.fifth .tail.right
 {
    border-right-color: #fde650;
}
*/
/*260122*/
#map .map-row .block.advanced.component { background-color: #1e2b34;}
#map .map-row .block.midlevel.component { background-color: #1e2b34;}
#map .map-row .block.entry.component { background-color: #1e2b34;}



#map .map-row .block.advanced.system { background-color: #1e2b34;}
#map .map-row .block.midlevel.system { background-color: #1e2b34;}
#map .map-row .block.entry.system { background-color: #1e2b34;}


#map .map-row .block.advanced.marketing { background-color: #1e2b34;}
#map .map-row .block.midlevel.marketing { background-color: #1e2b34;}
#map .map-row .block.entry.marketing { background-color: #1e2b34;}

#map .map-row .block.advanced.installation { background-color: #1e2b34;}
#map .map-row .block.midlevel.installation { background-color: #1e2b34;}
#map .map-row .block.entry.installation { background-color: #1e2b34;}

#map .map-row .block.advanced.installation.fifth { background-color: #1e2b34;}
#map .map-row .block.midlevel.installation.fifth { background-color: #1e2b34;}
#map .map-row .block.entry.installation.fifth { background-color: #1e2b34;}
#map .map-row .col-label.installation.fifth .tail.left { border-top-color: #1e2b34;}
#map .map-row .col-label.installation.fifth .tail.right { border-right-color: #1e2b34;}

#map .map-row .block.advanced.electrical { background-color: #1e2b34;}
#map .map-row .block.midlevel.electrical { background-color: #1e2b34;}
#map .map-row .block.entry.electrical { background-color: #1e2b34;}

#map .map-row .block.advanced.mechanical { background-color: #1e2b34;}
#map .map-row .block.midlevel.mechanical { background-color: #1e2b34;}
#map .map-row .block.entry.mechanical { background-color: #1e2b34;}

#map .map-row .block.advanced.civil { background-color: #1e2b34;}
#map .map-row .block.midlevel.civil { background-color: #1e2b34;}
#map .map-row .block.entry.civil { background-color: #1e2b34;}

#map .map-row .block.advanced.aviation { background-color: #1e2b34;}
#map .map-row .block.midlevel.aviation { background-color: #1e2b34;}
#map .map-row .block.entry.aviation { background-color: #1e2b34;}

#map .map-row .block.advanced.networking { background-color: #1e2b34;}
#map .map-row .block.midlevel.networking { background-color: #1e2b34;}
#map .map-row .block.entry.networking { background-color: #1e2b34;}


#map
{
  width:2500px;
  position: relative;
  overflow-y: hidden;
}
.bx {
 overflow-x: scroll;
}
.map-row
{
  width:100%;
  height: auto;
  float: left;
}