/*CSS - media*/

@media (min-width: 1600px){
    .guide-bx h3{
        font-size: 25px;
        line-height: 25px;
    }
    .guide-bx p{
        font-size: 22px;
    }
}




@media (max-width: 1340px) {
    
}
@media (max-width: 1060px) {
    
}





@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    
}





@media (max-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
}


@media (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
}





@media (max-width: 575px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .portfolio-bx h3 {
        font-size: 16px !important;
    }
    .guide-inner p{
        font-size: 14px;
    }
    .guide-inner .btn.small {
        padding: 10px 18px;
    }
}




@media (max-width: 1300px) {
    
}

@media (max-width: 1310px) {
}







@media (min-width: 1201px) {
    .container {
        max-width: 1280px;
    }
}




@media (min-width: 1200px) {
}

@media (max-width: 1200px) {
    #howitworks {
        margin-bottom: 60px;
    }
    #howitworks .video-item a.image-wrapper {
        height: 300px;
    }
    #howitworks .howitwork-slider .image-wrapper {
        height: 250px;
    }
    #howitworks .img-design.one {
        max-width: 300px
    }
    #howitworks .img-design.two {
        max-width: 150px;
    }
    #howitworks .section-heading {
        margin-bottom: 100px;
    }


    #bottomsection .bgimage::before {
        height: 100%;
        width: 200%;
        top: 60%;
    }

    #loginPages {
        margin: 40px 0;
    }
}



@media (max-width: 1024px) {
}


@media (max-width: 1199px){
    .user-pp-image{
            width: 170px;
            height: 170px
    }
    .upload-btn{
        top: 20px;
    }
    .pro-left h2{
        font-size: 20px;
    }
    .lft-user-panel li a{
        font-size: 12px;
    }
    .lft-user-panel li a i{
        font-size: 17px;
        margin-right: 5px;
    }
    .lft-user-panel li.active::before {
        width: 51px;
        height: 16px;
        top: 29px;
      }
    .portfolio-bx h2{
        font-size: 24px;
    }
    .portfolio-bx h3{
        font-size: 20px;
    }
    .portfolio-bx .form-group.fiel label{
        font-size: 17px;
    }
    .container-radio{
        font-size: 16px;
    }
    .portfolio-bx .form-group .form-control {
        padding: 10px 15px !important;
    }
    .portfolio-bx .grade-field input.form-control{
        padding-left: 90px !important;
    }
    .fav-bx ul li{
        padding: 0px 15px;
            font-size: 13px;
    }
    #loginPages form .form-group .input-group span.ey i {
        left: 91%;
    }
}


@media (min-width: 992px) {
    
}
@media (max-width: 991px) {
    .header-right-wrapper {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: -400px;
        bottom: 0;
        max-width: 300px;
        width: 100%;
        z-index: 999;
        box-shadow: 0 0 30px rgb(0,0,0,0.2);
        transition: 0.7s;
    }
    .menu-visible .header-right-wrapper {
        left: 0;
    }

    #header .right-top {
        display: block;
        text-align: center;
    }
    
    #header .social-links {
        justify-content: center;
        margin: 20px 0;
    }

    #header .register-signin {
        /* display: block; */
        justify-content: center;
        text-align: center;
        margin: 20px 0;
    }
    #header .register-signin a {
        justify-content: center;
        margin: 0px 5px;
    }
    #header .register-signin a i {
        margin-right: 5px;
    }
    #header .social-links a {
        margin: 0 5px;
    }
    #header .nav-menu {
        display: block;
    }
    #header .nav-menu li a {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
    }
    #header .nav-menu li a:hover,
    #header .nav-menu li.active a {
        background-color: var(--default);
        color: #fff;
    }


    #header #closeMenu {
        border: 1px solid #000;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: auto;
        border-radius: 100%;
        color: #000;
        text-decoration: none;
    }


    #header .searchToggle,
    #header #menu-toggle {
        display: inline-flex;
        border: 2px solid;
        color: #000;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 0;
        text-decoration: none;
    }
    #header #menu-toggle {
        width: auto;
        padding: 0 10px;
        vertical-align: bottom;
        text-transform: uppercase;
    }
    #header #menu-toggle span {
        font-size: 12px;
        margin-right: 5px;
        font-weight: bold;
    }
    #header #menu-toggle:hover {
        background-color: var(--default);
    }


    .sticky #header .logo {
        max-width: 75%;
    }
    .sticky #header .nav-menu li a {
        padding: 10px 20px;
    }
    .sticky #header .right-top {
        display: block;
    }



    #searchContainer form .form-group {
        display: block;
    }
    #searchContainer #searchClose {
        background-color: #fff;
        color: #000;
        position: relative;
        transform: unset;
        left: unset;
        top: unset;
        right: unset;
        margin-left: auto;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 30px;
        height: 30px;
    }
    #searchContainer .form-wrap {
        padding: 0;
    }
    #searchContainer .form-control:not(.themebtn) {
        padding: 5px 20px;
        border-radius: 0;
        max-width: 100%;
        border: 1px solid #000;
    }
    #searchContainer .form-control.themebtn {
        border-radius: 0;
        padding: 5px;
    }

    body.menu-visible .menu-overlay {
        position: fixed;
        background-color: rgb(0,0,0,0.5);
        width: 100%;
        height: 100%;
        z-index: 111;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #home #banner .banner-wrapper {
        padding: 100px 0 25%;
    }

    #howitworks .video-item a.image-wrapper {
        height: 350px;
    }
    #howitworks .howitwork-slider .image-wrapper {
        height: 350px;
    }
    #howitworks .img-design.one {
        max-width: 220px;
    }
    #howitworks .img-design.two {
        max-width: 120px;
    }

    
    .sticky {
        padding-top: 80px;
    }



    #bottomsection {
        padding: 50px 0;
    }
    #bottomsection .bgimage {
        display: none;
    }

    #breadcrumb {
        padding: 50px 0;
    }

    #loginPages #registerTabs {
        padding: 0;
        justify-content: center;
    }
    #loginPages #registerTabs .nav-link {
        padding: 5px 10px;
        font-size: 14px;
    }
    #loginPages .form-title {
        font-size: 30px;
    }

     /*************my portfolio********************/

    .user-pp-image{
    width: 110px;
    height: 110px
    }
    .upload-btn{
        top: 0px;
    }
    .pro-left h2{
        font-size: 17px !important;
    }
    .lft-user-panel li a{
        font-size: 12px;
    }
    .lft-user-panel li a i{
        font-size: 17px;
        margin-right: 5px;
    }
    .lft-user-panel li.active:before{
        width: 70px;
    height: 8px;
    top:27px;
    }
    .portfolio-bx h2{
        font-size: 24px;
    }
    .portfolio-bx h3{
        font-size: 20px;
    }
    .portfolio-bx .form-group.fiel label{
        font-size: 17px;
    }
    .container-radio{
        font-size: 16px;
    }
    .portfolio-bx .form-group .form-control {
        padding: 10px 15px !important;
    }
    .portfolio-bx .grade-field input.form-control{
        padding-left: 90px !important;
    }
    .fav-bx ul li{
        padding: 0px 15px;
            font-size: 13px;
    }
    .portfolio-bx .pro-left{
        padding: 35px 15px;
    }
    .lft-user-panel li.active:before {
        width: 40px;
        height: 5px;
        top: 28px;
    }
    .portfolio-bx .form-group .form-control{
        margin-bottom: 15px;
    }
    .fav-bx{
        padding: 15px;
    }
    .portfolio-bx .pro-rgt{
        padding: 35px 15px;
    }





    .search-rgt {
        text-align: left;
    }
    .search-rgt .fever{
        justify-content: start;
    }
    .search-rgt .btn{
        margin-top: 25px;
    }
    .search-list-bx{
        padding: 30px;
    }
    .searc-vx{
        margin:0px;
    }

    
}







@media (min-width: 768px) {

}
@media (max-width: 767px) {
    
    #footer .foot-bottom {
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }
    #footer .logo {
        margin-left: auto;
        margin-right: auto;
    }
    #footer ul.foot-menu li a {
        display: inline-block;
    }
    #footer ul.social-wrap li a {
        justify-content:left;
    }


    #home #banner .banner-wrapper .banner-title {
        font-size: 40px;
    }

    #howitworks {
        margin: 50px 0;
    }
    .section-heading,
    #howitworks .section-heading {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .section-heading span {
        font-size: 30px;
    }
    .section-heading span::after {
        content: none;
    }
    #howitworks .img-design {
        display: none;
    }
    #howitworks .video-item a.image-wrapper,
    #howitworks .howitwork-slider .image-wrapper {
        height: 300px;
    }
    



    #selfexploration {
        margin-bottom: 50px;
    }

    #selfexploration hr.divider {
        margin: 30px 0 30px;
    }
    #bottomsection .title,
    #selfexploration .title {
        font-size: 30px;
    }
    #bottomsection p {
        margin: 10px 0 20px;
    }
    #bottomsection .left .item {
        height: 150px;
    }


    #howitworks .owl-dots {
        grid-gap: 20px;
    }


    #loginPages {
        margin: 30px 0;
    }

    #loginPages form {
        margin: 10px 0;
        padding: 10px 0;
    }

    #loginPages.login .inner-wrapper {
        padding: 20px;
    }
    #loginPages .form-title {
        font-size: 24px;
        text-align: center;
    }
    #loginPages form .form-group .form-control {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    


    #loginPages #registerTabs .nav-link {
        font-size: 12px;
    }
    #loginPages #registerTabsContent {
        border-radius: 5px;
        padding: 20px;
    }
    #loginPages #registerTabsContent .title {
        font-size: 16px;
    }
    /**************my portfolio********/
    .portfolio-bx .pro-left, .portfolio-bx .pro-rgt{
        flex: 0 0 100%;
        max-width: 100%;
        -ms-flex: 0 0 100%;
    }
    .mbl
    {
        display: block;
    }
    .dect
    {
        display: none;
    }
    #map .map-row .row-label .title {
        display: block;
        top: 30px;
      }
      #footer .foot-bottom {
        text-align: left;
      }
.dec 
{
   display: none;
}
.mob{
  display: none;
}
.mob.expand
{
    display: block;
}
#menu-icon
{
    display: block;
}

#menu-icon
{
    width: 100%;
    text-align: center;
    background:var(--default);
    padding: 10px 0;
    cursor: pointer;    
}
}




@media (max-width: 575px) {
    #footer .contact-info .info-wrap {
        display: block;
        text-align: center;
    }
    #footer .contact-info .info-wrap .iconWrap {
        display: inline-flex;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #home #banner .banner-wrapper .banner-title {
        font-size: 36px;
    }
    #home #banner .banner-wrapper {
        padding-top: 50px;
        padding-bottom: 280px;
        background-size: contain;
    }
    #home #banner .banner-wrapper br {
        display: none;
    }


    #howitworks .video-item a.image-wrapper i {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }


    #loginPages #registerTabs .nav-link {
        border-radius: 10px;
        border: 1px solid ;
        margin: 5px;
    }
    #loginPages #registerTabsContent {
        margin-top: 20px;
        border: 0;
        box-shadow: 0 0 50px rgb(0,0,0,0.1);
    }
    #loginPages form label {
        font-size: 12px;
    }
    /**************my portfolio********/
    .radio-list li{
        width: 100%;
        margin-left: 0px;
    }
    .portfolio-bx .pro-rgt {
        padding: 15px 15px;
    }
    .lft-user-panel li a{
        line-height: 50px;
    }
    .lft-user-panel li.active:before {
        width: 60px;
        height: 8px;
        top: 22px;
    }

 #footer .logo {
    margin-bottom: 40px;
  }
  .search-mid ul li.progress-goal {
    margin: 0px auto 30px;
    display: block;
  }
  .search-rgt {
    text-align: center;
  }
  .search-list-bx .search-lft p {
    text-align: center;
  }
  .search-list-bx .search-lft h4 {
    text-align: center;
  }
  .search-tb .pagination li a
  {
      width:31px;
      height: 31px;
  }
  #loginPages form .form-group .input-group span.ey i {
    left: 89%;
    top: 20px;
  }
#loginPages form .form-group .input-group i {
    left: 14px;
    top: 20px;
}
.portfolio-bx .form-group .form-control.pst {
    padding: 10px 48px !important;
    font-size: 13px;
}  
}





@media (max-width: 490px) {
    
    #howitworks .video-item a.image-wrapper,
    #howitworks .howitwork-slider .image-wrapper {
        height: 200px;
    }

    
    #home .banner-wrapper .banner-content {
        margin: 10px 0 10px;
    }
    #home .banner-wrapper .banner-buttons {
        margin-top: 0;
    }
    #home .banner-wrapper .banner-buttons a {
        padding: 10px 30px;
    }
    #home #banner .banner-wrapper {
        padding-bottom: 60%;
    }

    #selfexploration hr.divider {
        margin-top: 0px;
    }
    #footer .foot-bottom {
        text-align: left;
      }
      #footer ul.social-wrap li a {
        justify-content: left;
      }
      .breadcrumb ul li {
        font-size: 16px;
      }
}



@media (max-width: 400px) {
    #footer .contact-info .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}




@media (max-width: 360px)  {
    /****************my portfolio*********/
    .portfolio-bx h3 {
        font-size: 17px;
    }
    .fav-bx h4{
        font-size: 20px;
    }
    .fav-bx ul{
        margin: 15px 0px;
    }
    .fav-bx ul li{
        width: 100%;
        padding: 0px;
    }
    .fav-bx p{
        font-size: 14px;
    }
}
@media (max-width: 359px)  {
    #footer .foot-bottom .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    #footer .foot-bottom .col-6:not(:last-child) {
        margin-bottom: 20px;
    }

    #footer .foot-title {
        margin: 10px 0 5px;
    }
    #footer ul.foot-menu li {
        display: inline-block;
    }
    #footer ul.foot-menu li a {
        display: block;
        border:0px solid;
        padding: 3px 5px;
        font-size: 14px;
    }
    #footer ul.foot-menu li a:hover {
        color:var(--default);
    }
    #footer ul.foot-menu li a::before {
        content: none;
    }


    #footer ul.social-wrap li {
        display: inline-block;
    }
    #footer ul.social-wrap li a span {
        display: none;
    }
    #footer ul.social-wrap li a i {
        margin: 0 2px;
        font-size: 16px;
        width: 30px;
        height: 30px;
    }
    #footer .contact-info .info-wrap {
        display: flex;
        text-align: left;
        /* margin-bottom: 20px; */
    }
    #footer .contact-info .info-wrap .iconWrap {
        margin: 0;
        margin-right: 15px;
    }
    /****************my portfolio*********/
    .portfolio-bx h3 {
        font-size: 17px;
    }
    .fav-bx h4{
        font-size: 20px;
    }
    .fav-bx ul{
        margin: 15px 0px;
    }
    .fav-bx ul li{
        width: 100%;
        padding: 0px;
    }
    .fav-bx p{
        font-size: 14px;
    }
    #footer .foot-bottom {
        text-align: center;
      }
}







@media (min-width: 1600px) {
    #home #banner .banner-wrapper {
        background-size: 1200px;
    }
}



@media (min-width: 1560px) {
    .container {
        max-width: 1560px;
    }


    .btn {
        font-size: 20px;
    }
    .section-heading span {
        font-size: 50px;
    }

    #header .logo {
        max-width: 400px;
    }
    .social-links a,
    #header .register-signin a i {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #header .register-signin a span {
        font-size: 20px;
    }
    #header .searchToggle {
        padding: 25px;
        font-size: 26px;
    }
    #searchContainer .form-wrap {
        padding: 50px 0 40px;
    }

    #header .nav-menu li a {
        padding-left: 100px;
        font-size: 24px;
    }

    #home #banner .banner-wrapper .banner-title {
        font-size: 60px;
    }
    #home #banner .banner-wrapper .banner-content {
        font-size: 20px;
    }


    #howitworks .video-item a.image-wrapper {
        height: 450px;
    }
    #howitworks .howitwork-slider .image-wrapper {
        height: 400px;
    }

    #selfexploration .title {
        font-size: 50px;
    }

    #selfexploration .details b {
        font-size: 24px; 
    }

    #bottomsection .bgimage .image-wrapper {
        max-width: 520px;
    }

    #bottomsection .title {
        font-size: 60px;
    }


    #footer .contact-info .info-wrap .details {
        font-size: 18px;
    }

    #footer .contact-info .info-wrap .iconWrap {
        flex: 0 0 80px;
        height: 80px;
    }

    #footer .logo {
        max-width: 400px;
    }

    #footer .foot-title {
        font-size: 26px;
    }

    #footer ul.social-wrap li a,
    #footer ul.foot-menu li a {
        font-size: 20px;
    }
    #footer ul.social-wrap li a i {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }


    #loginPages .form-title {
        font-size: 60px;
    }
    #loginPages form label {
        font-size: 20px;
    }
    #loginPages form .form-group .form-control {
        padding: 15px 50px;
    }
    #loginPages .form-link a {
        font-size: 20px;
    }

    #breadcrumb ul.breadcrumb li a {
        font-size: 20px;
    }
    .sticky #header .logo {
        max-width: 250px;
    }
    .sticky #header .nav-menu li a {
        font-size: 20px;
    }
}

/*24022022*/
@media (max-width:575.98px){

    /*New css 24feb*/
    .certified-listitemp ul{
        display: block;
    }
    .certified-listitemp ul .media{
        width: 100%;
        padding: 7px 10px;
    }
    .certified-listitemp ul .media:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .certified-listitemp ul .media img{
        width: 35px;
    }
    .certified-listitemp ul .media .media-body h5{
        font-size: 16px;
    }
    /*End New css 24feb*/
    .certifiedProgress-container{
        display: block;
    }
    .circel-progressbar{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    /*searchresult-interactive css*/
    .heading-section {
        margin-top: 20px;
    }
    .heading-section h2 {
        font-size: 22px;
    }
    .filter_topfull{
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .heading-toppart{
        margin-bottom: 10px;
    }
    .sideblock {
        margin-bottom: 15px;
    }
    .fillter-section .button-container{
        margin-top: 15px;
    }
    .calendar-view{
        margin-top: 0;
    }
    .mtab{
        padding: 10px 12px;
    }
    .mapnav_slide{
        margin-bottom: 10px;
    }
    .legend_guide ul li .color{
        width: 30px;
        height: 30px;
    }
    .legend_guide ul li{
        font-size: 12px;
        margin: 0 0 0 10px;
    }
    .mapnav_slide .owl-carousel .owl-nav .owl-next,
    .mapnav_slide .owl-carousel .owl-nav .owl-prev{
        top: 32%;
        transform: translate(0,-30%);
    }
    #map .map-grid .point .description .description-box{
        background-color: #fff;
    }
    #map .map-grid .point .description .description-box.arrow-top .arrow{
        border-bottom-color: #fff;
    }
    #map .map-row .row-label.advanced,
    #map .map-row .row-label,
    #map .map-row .row-label.entry{
        background-color: transparent;
    }
    #map .map-row .row-label.advanced, 
    #map .map-row .row-label, 
    #map .map-row .row-label.entry{
        height: 61.7px!important;
        margin-top: 0;
    }
    #map .map-grid .point .title{
        font-size: 9px;
    }    
    #map .map-row .row-label .title{
        display:block;
        top:30px;
        height: 50px;
    }
    #map .map-row .col-label{
        margin-top: 7px;
    }
    #map .map-row .col-label .title{
        font-size: 9px;
    }

}



@media (min-width:576px) and (max-width:767.98px){

/*New css 24feb*/

.certified-listitemp ul{
        display: block;
    }
    .certified-listitemp ul .media{
        width: 100%;
        padding: 7px 10px;
    }
    .certified-listitemp ul .media:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .certified-listitemp ul .media img{
        width: 35px;
    }
    .certified-listitemp ul .media .media-body h5{
        font-size: 16px;
    }

/*End New css 24feb*/
    .certifiedProgress-container{
        display: block;
    }
    .circel-progressbar{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .circel-progressbar{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    /*searchresult-interactive css*/
    .heading-section {
        margin-top: 20px;
    }
    .heading-section h2 {
        font-size: 25px;
    }
    .filter_topfull{
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .heading-toppart{
        margin-bottom: 10px;
    }
    .sideblock {
        margin-bottom: 15px;
    }
    .fillter-section .button-container{
        margin-top: 15px;
    }
    .calendar-view{
        margin-top: 0;
    }
    .mtab{
        padding: 10px 12px;
    }
    .mapnav_slide{
        margin-bottom: 10px;
    }
    .legend_guide ul li .color{
        width: 30px;
        height: 30px;
    }
    .legend_guide ul li{
        font-size: 12px;
        margin: 0 0 0 10px;
    }
    #map .map-grid .point .description .description-box{
        background-color: #fff;
    }
    #map .map-grid .point .description .description-box.arrow-top .arrow{
        border-bottom-color: #fff;
    }
    #map .map-row .row-label.advanced,
    #map .map-row .row-label,
    #map .map-row .row-label.entry{
        background-color: transparent;
    }
    #map .map-grid .point .title{
        font-size: 10px;
    }
    /*left section job level box */
    #map .map-row .row-label.advanced,
    #map .map-row .row-label,
    #map .map-row .row-label.entry{
        background-color: transparent;
    }
    #map .map-row .row-label.advanced, 
    #map .map-row .row-label, 
    #map .map-row .row-label.entry{
        height: 61.7px!important;
        margin-top: 0;
    }
   
    #map .map-row .col-label{
        margin-top: 10px;
    }
    #map .map-row .col-label .title{
        font-size: 9px;
    }    

}


@media (min-width:768px) and (max-width:991.98px){

/*New css 24feb*/

.certified-listitemp ul{
        display: block;
    }
    .certified-listitemp ul .media{
        width: 100%;
        padding: 7px 10px;
    }
    .certified-listitemp ul .media:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .certified-listitemp ul .media img{
        width: 35px;
    }
    .certified-listitemp ul .media .media-body h5{
        font-size: 16px;
    }

/*End New css 24feb*/
.certifiedProgress-container{
    display: block;
}
.circel-progressbar{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.circel-progressbar {
    width: 180px;
    margin: 15px;
    float: left;
}
.certified-textContainer{
    margin-top: 10px;
}
/*searchresult-interactive css*/
.heading-section {
    margin-top: 20px;
}
.heading-section h2 {
    font-size: 25px;
}
.filter_topfull{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}
.heading-toppart{
    margin-bottom: 10px;
}
.sideblock {
    margin-bottom: 15px;
}
.fillter-section .button-container{
    margin-top: 15px;
}
.calendar-view{
    margin-top: 0;
}
.mtab{
    padding: 10px 12px;
}
.mapnav_slide{
    margin-bottom: 10px;
}
.legend_guide ul li .color{
    width: 30px;
    height: 30px;
}
.legend_guide ul li{
    font-size: 12px;
    margin: 0 0 0 10px;
}
.mapnav_slide .owl-carousel .owl-nav .owl-next,
.mapnav_slide .owl-carousel .owl-nav .owl-prev{
    top: 35%;
}
#map .map-grid .point .description .description-box{
    background-color: #fff;
}
#map .map-grid .point .description .description-box.arrow-top .arrow{
    border-bottom-color: #fff;
}
#map .map-row .row-label.advanced,
#map .map-row .row-label,
#map .map-row .row-label.entry{
    background-color: transparent;
}
#map .map-grid .point .title{
    font-size: 12px;
}
/*left section job level box */
#map .map-row .row-label.advanced,
#map .map-row .row-label,
#map .map-row .row-label.entry{
    background-color: transparent;
    margin-top: 0;
}
  
#map .map-row .col-label{
    margin-top: 10px;
}
#map .map-row .col-label .title{
    font-size: 9px;
}    

}
@media (min-width:992px) and (max-width:1199.98px){
    .padding-y {
        padding: 60px 0;
    }    
    .certified-container{
        padding-bottom: 30px;
    }    
    .certified-header h3{
        font-size: 25px;
    }
    .certified-header h4{
        font-size: 18px;
    }
    
.certified-listitemp ul{
        display: block;
    }
    .certified-listitemp ul .media{
        width: 100%;
        padding: 7px 10px;
    }
    .certified-listitemp ul .media:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .certified-listitemp ul .media img{
        width: 35px;
    }
    .certified-listitemp ul .media .media-body h5{
        font-size: 16px;
    }
    .certifiedProgress-container{
        display: block;
    }
    .circel-progressbar{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }    
    
/*searchresult-interactive css*/
    .heading-section {
        margin-top: 25px;
    }
    .heading-section h2 {
        font-size: 28px;
    }
    .filter_topfull{
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .heading-toppart{
        margin-bottom: 10px;
    }
    .fillter-section .button-container{
        margin-top: 15px;
    }
    .mapnav_slide .owl-carousel .owl-nav .owl-prev {
        left: -50px;
        top: 30%;
        transform: translate(0,-30%);
    }
    .mapnav_slide .owl-carousel .owl-nav .owl-next {
        right: -50px;
        top: 30%;
        transform: translate(0,-30%);
    }    
    .calendar-view{
        margin-top: 0;
    }
    .mtab{
        padding: 10px 12px;
    }
    .mapnav_slide{
        margin-bottom: 10px;
    }
    .legend_guide ul li .color{
        width: 30px;
        height: 30px;
    }
    .legend_guide ul li{
        font-size: 12px;
        margin: 0 0 0 10px;
    }
    #map .map-grid .point .description .description-box{
        background-color: #fff;
    }
    #map .map-grid .point .description .description-box.arrow-top .arrow{
        border-bottom-color: #fff;
    }
    #map .map-row .row-label.advanced,
    #map .map-row .row-label,
    #map .map-row .row-label.entry{
        background-color: transparent;
    }
    #map .map-grid .point .title{
        font-size: 13px;
    }
    /*left section job level box */
    #map .map-row .row-label .title span{
        font-size: 12px;
    }
    #map .map-row .row-label .title{
        width: 129px !important;
        height: 45px;
        margin-left: -125px !important;
        top: -44px;
    }    
}


@media screen and (max-width: 767px) {


#map .map-grid .point .description {
    width: 208px !important;
    max-height: 109px;
    overflow-y: scroll;
    left: 0 !important;
    top: 41px !important;
}
#map .map-grid .point .description .description-screen {
    height: 0;
}
#map .map-grid .point.x100-networking.x20-center .description
{
    left: -100px !important;
}
#map .map-grid .point.x100-networking.x30-right .description
{
    left: -150px !important;
}
#map .map-grid .point.x100-networking.x20-center .title {
    width:100px !important;
    left: 0 !important;
    top:74px !important;
  }
  #map .map-grid .point.x100-networking.x30-right .title {
    width:100px !important;
    left: 0 !important;
    top:74px !important;
  }
}