/*CSS*/


/**************************************** FONTS */

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.woff2') format('woff2'),
        url('../fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


    
/**************************************** /FONTS */






/**************************************** ICONS */
    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?cy2wxt');
        src:  url('../fonts/icomoon.eot?cy2wxt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?cy2wxt') format('truetype'),
        url('../fonts/icomoon.woff?cy2wxt') format('woff'),
        url('../fonts/icomoon.svg?cy2wxt#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    
    .icon {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
        
    .icon-print1:before {
        content: "\e90e";
    }
    .icon-signin:before {
        content: "\e902";
    }
    .icon-register:before {
        content: "\e903";
    }
    .icon-print:before {
        content: "\e904";
    }
    .icon-work-value:before {
        content: "\e906";
    }
    .icon-chart:before {
        content: "\e909";
    }
    .icon-work:before {
        content: "\e90b";
    }
    .icon-search:before {
        content: "\e901";
    }
    .icon-arrow-right-long:before {
        content: "\e905";
    }
    .icon-email:before {
        content: "\e907";
    }
    .icon-key:before {
        content: "\e908";
    }
    .icon-bell:before {
        content: "\e90a";
    }
    .icon-play-icon:before {
        content: "\e900";
    }
    .icon-up-arrow:before {
        content: "\e90d";
    }
    .icon-down-arrow:before {
        content: "\e90c";
    }
    .icon-chevron-right:before {
        content: "\e925";
    }
    .icon-chevron-left:before {
        content: "\e924";
    }
    .icon-menu1:before {
        content: "\e923";
    }
    .icon-segment:before {
        content: "\e922";
    }
    .icon-align-left:before {
        content: "\e920";
    }
    .icon-align-right:before {
        content: "\e91f";
    }
    .icon-clearclose:before {
        content: "\e928";
    }
    .icon-done:before {
        content: "\e929";
    }
    .icon-done_all:before {
        content: "\e92a";
    }
    .icon-check:before {
        content: "\e921";
    }
    .icon-arrow-thin-down:before {
        content: "\e926";
    }
    .icon-chevron-thin-left1:before {
        content: "\e92b";
    }
    .icon-chevron-thin-right1:before {
        content: "\e92c";
    }
    .icon-arrow-thin-left:before {
        content: "\e92d";
    }
    .icon-arrow-thin-right:before {
        content: "\e92e";
    }
  
/**************************************** /ICONS */






/**************************************** GLOBAL */
    :root {
        --default: #F8B914;
        --dark-default: #c99000;
        --secondary: #000;
        --highlight: #FFDB7C;
        --light: #fff8e6;

        --font-primary: 'Montserrat', sans-serif;
        /* --font-secondary: 'Cormorant', serif;   */
    }



    /************* AJAX LOADER */
        .ajax_loader.hideloader { 
            opacity: 0;
            visibility: hidden;
        }
        .ajax_loader { 
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(255,255,255,0.99);
            z-index: 99999999;
            -webkit-transition: all .6s ease 0s;
            transition: all .6s ease 0s;
        }
        .ajax_loader img { 
            position: absolute;
            max-width: 150px;
            width: auto;
            height: auto;
            left: 50%;
            top: 50%;
            -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
        }
    /************* /AJAX LOADER */



    .font-primary { font-family: 'Montserrat', sans-serif; font-family: var(--font-primary); }
    /* .font-secondary { font-family: 'Cormorant', serif; font-family: var(--font-secondary); }  */

    

    .bg-light { background-color: #fff!important; }
    .bg-clr-light { background-color: #dcefff; background-color: var(--light); }


    .big {
        font-size: 120%;
        font-weight: bold;
    }



    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #ffffff;
    }






    .circleeffect {
        position: relative;
        /* overflow: hidden; */
    }
    .circleeffect:before { 
        content: "";
        width: 124px; 
        height: 124px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -62px;
        margin-left: -62px;
        display: none;
    }
    .circleeffect:hover:before {
        -webkit-animation: circleIn 0.9s linear;
        animation: circleIn 0.9s linear infinite;
        display: block;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        pointer-events: none;
    }
    @-webkit-keyframes circleIn {
        0% { -webkit-transform: scale(0); opacity: .4; }
        60%, 100% { -webkit-transform: scale(1); opacity: 0; }
    }
    @keyframes circleIn { 
        0% { 
            transform: scale(0);
            opacity: 0.8;
        }
        60%, 100% { 
            transform: scale(1);
            opacity: 0;
        }
    }




    .btn {
        padding: 20px 50px;
        border-radius: 100px 100px 100px 0;
        font-weight: bold;
        color: inherit;
        background: inherit;
        /* border: 0; */
        transition: 0.5s;
    }
    .btn.small {
        padding: 10px 30px;
    }


    .btn.btn-dark {
        background-color: #000;
        color: var(--default);
    }
    .btn.btn-dark:hover {
        background-color: var(--default);
        color: #000;
    }
    
    .btn.btn-default {
        background-color: var(--default);
        color: #000;
    }
    .btn.btn-default:hover {
        background-color: #000;
        color: var(--default);
    }


    .section-heading {
        margin: 80px 0;
    }
    .section-heading span {
        position: relative;
        font-size: 40px;
        display: block;
        text-align: center;
        font-weight: bold;
        position: relative;
        z-index: 0;
    }
    .section-heading span::after {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 250%;
        line-height: 80%;
        z-index: -1;
        opacity: 0.05;
    }



    .select-wrap {
        position: relative;
    }
    .select-wrap::after {
        content: '\e90c';
        font-family: 'icomoon' !important;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        font-weight: 700;
        z-index: 11;
    }
    .select-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        /* color: #707070; */
    }
    
/**************************************** /GLOBAL */




/****************** SCROLL UP */
    .scrollup {
        bottom: 20px;
        right: 20px;
        display: none;
        height: 40px;
        line-height: 38px;
        text-align: center;
        position: fixed;
        width: 40px;
        z-index: 5;
        color: #fff;
        background: #093c67;
        background: var(--default);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,.4);
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
        display: none;
    }
    .scrollup:hover {
        background-color: #0068ba;
        background-color: var(--secondary);
        color: #fff;
    }
    .scrollup:after,
    .scrollup:before {
        border: 1px solid #093c67;
        border: 1px solid var(--default);
        position: absolute;
        content: "";
        left: -8px;
        top: -8px;
        right: -8px;
        bottom: -8px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .scrollup:before {
        -webkit-animation: flickerAnimation 1.2s infinite;
        -moz-animation: flickerAnimation 1.2s infinite;
        -o-animation: flickerAnimation 1.2s infinite;
        animation: flickerAnimation 1.2s infinite;
    }
    .scrollup:after {
        left: -15px;
        top: -15px;
        right: -15px;
        bottom: -15px;
        -webkit-animation: flickerAnimation 1s infinite;
        -moz-animation: flickerAnimation 1s infinite;
        -o-animation: flickerAnimation 1s infinite;
        animation: flickerAnimation 1s infinite;
    }

    @keyframes flickerAnimation {
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity:1 }
    }
    @-o-keyframes flickerAnimation {
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }
    }
    @-moz-keyframes flickerAnimation { 
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }
    }
    @-webkit-keyframes flickerAnimation {
        0% { opacity: 1 }
        50% { opacity: 0 }
        100% { opacity: 1 }
    }

/****************** /SCROLL UP */







/**************************************** HEADER */
    #header {
        background-color: #fff;
        padding: 15px 0;
        box-shadow: 0 0 10px rgb(0,0,0,0.1);
        transition: 0.4s;
        top: -100%;
    }

    .sticky {
        padding-top: 127px;
    }

    .sticky #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 5px 0;
        box-shadow: 0 0 10px rgb(0,0,0,0.15);
    }
    .sticky #header .right-top {
        display: none;
    }
    .sticky #header .nav-menu li a {
        padding-top: 0;
        padding-left: 50px;
        font-size: 16px;
        /* text-transform: capitalize; */
    }
    .sticky .header-row {
        align-items: center!important;
    }
    .sticky #header .logo {
        max-width: 150px;
    }


    #header .right-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #header .logo {
        max-width: 300px;
        display: block;
        text-decoration: none;
    }
    #header .logo img {
        width: 100%;
        height: auto;
    }

    .social-links {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: 40px;
        display: flex;
        align-items: center;
    }
    .social-links a {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: var(--default);
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
        font-size: 12px;
    }



    #header .register-signin {
        display: flex;
        margin-right: 40px;
    }
    #header .register-signin a {
        display: flex;
        text-decoration: none;
        color: inherit;
        align-items: center;
        margin: 0 10px;
    }
    #header .register-signin a i {
        color: #000;
        border: 1px solid var(--default);
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        font-size: 16px;
    }
    #header .register-signin a span {
        font-weight: 500;
    }


    #header .searchToggleWrap {
        text-align: right;
    }
    #header .searchToggle {
        display: block;
        color: inherit;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        color: #000;
        padding: 10px;
        border-radius: 100%;
        transition: 0.2s;
    }
    #header .searchToggle:hover {
        background-color: var(--default);
        color: #000;
    }
    



    #header .nav-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    #header .nav-menu li a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        padding: 20px 0 0 80px;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.2s;
    }
    #header .nav-menu li a:hover,
    #header .nav-menu li.active a {
        color: var(--default);
    }




    /*********** SEARCH CONTAINER */
        #searchContainer {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: var(--default);
            z-index: 999;
            display: none;
            overflow: hidden;
            box-shadow: 0 0 50px rgb(0,0,0,0.5);
        }
        #searchContainer .form-wrap {
            padding: 37px 0 22px;
            /* height: 80px; */
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        #searchContainer form .form-group {
            display: flex;
            align-items: center;
        }
        
        #searchContainer #searchClose {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #000;
            border: 1px solid;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: 0.2s;
            font-size: 24px;
        }
        #searchContainer #searchClose:hover {
            background-color: #fff;
            color: #000;
        }



        #searchContainer .form-control {
            height: auto;
            border-radius: 0;
            border: 0;
            padding: 14px 25px;
        }
        #searchContainer .form-control:not(.themebtn) {
            flex: 0 0 90%;
            max-width: 90%;
            border: 1px solid #000;
            border-right: 0;
            border-radius: 100px 0 0 100px;
        }
        #searchContainer .form-control.themebtn {
            background-color: #000;
            border: 1px solid #000;
            color: var(--default);
            font-weight: bold;
            border-radius: 0 100px 100px 0;
        }
    /*********** /SEARCH CONTAINER */
/**************************************** /HEADER */













/**************************************** BREADCRUMB */
    #breadcrumb {
        padding: 100px 0;
        background-image: url(../images/subheader.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        z-index: 999;
    }
    #breadcrumb::after {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgb(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #breadcrumb .breadcrumb {
        background-color: transparent;
    }
    #breadcrumb ul.breadcrumb li a {
        display: flex;
        align-items: center;
        position: relative;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
    #breadcrumb ul.breadcrumb li:not(:last-child) a::after {
        content: '\e905';
        font-family: icomoon;
        color: var(--default);
        padding: 0 20px;
        font-size: 20px;
    }
/**************************************** /BREADCRUMB */












/**************************************** LOGIN PAGES */
    #loginPages {
        margin: 80px 0;
    }
    #loginPages.register {
        margin: 30px 0;
    }
    #loginPages .inner-wrapper {
        border: 5px solid var(--default);
        padding: 50px;
        border-radius: 20px;
    }
    #loginPages.login .inner-wrapper {
        background-image: linear-gradient(
            45deg,
            transparent 70%,
            var(--default) 50%
        );
        box-shadow: 0px 25px 50px 0px #F8B91433;
    }
        
    #loginPages .inner-wrapper .image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
    }
    #loginPages .inner-wrapper .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    #loginPages .form-title {
        font-size: 40px;
        font-weight: bold;
    }
    #loginPages form {
        border: 1px solid #dfdfdf;
        border-right: 0;
        border-left: 0;
        padding: 30px 0 40px;
        margin: 10px 0 50px;
    }

    #loginPages form label {
        font-weight: bold;
        cursor: pointer;
    }
    #loginPages form .form-group:not(:last-child) {
        margin-bottom: 20px;
    }
    #loginPages form > .form-group:last-child {
        margin-bottom: 0;
    }

    #loginPages form .form-group .form-control {
        padding: 10px 50px;
        border-radius: 7px;
        background-color: #F3F3F3;
        border: 2px solid #F3F3F3;
        height: auto;
    }
    #loginPages form .form-group select.form-control {
        padding: 10px;
    }
    #loginPages form .form-group .form-control:focus {
        background-color: #fff;
        border-color: var(--default);
        outline: 0!important;
        box-shadow: none;
    }
    #loginPages form .form-group .input-group {
        position: relative;
    }
    #loginPages form .form-group .input-group i {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
        font-size: 22px;
        color: var(--default);
    }
    #loginPages form .form-group .input-group span.ey i {
        position: absolute;
        left: 94%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
        font-size: 22px;
        color: var(--default);
    }
    #loginPages .form-link a {
        color: #000;
        text-decoration: none;
        font-weight: 500;
    }
    #loginPages .form-link a:hover {
        color: var(--default);
    }


    #loginPages #registerTabs {
        border: 0;
        padding-right: 40px;
        justify-content: flex-end;
    }
    #loginPages #registerTabs .nav-link {
        display: block;
        color: #000;
        font-size: 18px;
        font-weight: 600;
        border: 0;
        padding: 10px 20px;
        border-radius: 7px 7px 0 0;
    }
    #loginPages #registerTabs .nav-link.active {
        background-color: var(--default);
        color: #000;
    }

    #loginPages #registerTabsContent {
        border: 5px solid var(--default);
        padding: 30px;
        border-radius: 20px;
    }


    /* #loginPages.register .form-title {
        font-size: 20px;
        text-transform: uppercase;
    } */
    #loginPages.register .left .image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 15px;
    }
    #loginPages.register .left .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #loginPages.register form {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }


    
    
    
    .radio-wrap input[type="radio"] {
        display: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    .radio-wrap .form-check {
        padding-left: 0;
    }
    .radio-wrap .form-check-label {
        position: relative;
        /* background-color: red; */
        display: block;
        padding-left: 25px;
    }
    .radio-wrap .form-check-label::before {
        content: '';
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 3px solid #fff;
        box-shadow: 0 0 0 1px var(--default);
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .radio-wrap .form-check-label.checked::before {
        background-color: var(--default);
    }
/**************************************** /LOGIN PAGES */

/**************************************** CONTACT PAGES */
#contactPages {
    margin: 80px 0;
}
#contactPages.contact {
    margin: 30px 0;
}
#contactPages .inner-wrapper {
    border: 5px solid var(--default);
    padding: 50px;
    border-radius: 20px;
}
#contactPages.login .inner-wrapper {
    background-image: linear-gradient(
        45deg,
        transparent 70%,
        var(--default) 50%
    );
    box-shadow: 0px 25px 50px 0px #F8B91433;
}
    
#contactPages .inner-wrapper .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
#contactPages .inner-wrapper .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#contactPages .form-title {
    font-size: 40px;
    font-weight: bold;
}
#contactPages form {
    border: 1px solid #dfdfdf;
    border-right: 0;
    border-left: 0;
    padding: 30px 0 40px;
    margin: 10px 0 50px;
}

#contactPages form label {
    font-weight: bold;
    cursor: pointer;
}
#contactPages form .form-group:not(:last-child) {
    margin-bottom: 20px;
}
#contactPages form > .form-group:last-child {
    margin-bottom: 0;
}

#contactPages form .form-group .form-control {
    padding: 10px 50px;
    border-radius: 7px;
    background-color: #F3F3F3;
    border: 2px solid #F3F3F3;
    height: auto;
}
#contactPages form .form-group select.form-control {
    padding: 10px;
}
#contactPages form .form-group .form-control:focus {
    background-color: #fff;
    border-color: var(--default);
    outline: 0!important;
    box-shadow: none;
}
#contactPages form .form-group .input-group {
    position: relative;
}
#contactPages form .form-group .input-group i {
    position: absolute;
    left: 20px;
    top: 24px;
    transform: translateY(-50%);
    z-index: 11;
    font-size: 22px;
    color: var(--default);
}
#contactPages .form-link a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
#contactPages .form-link a:hover {
    color: var(--default);
}


#contactPages #registerTabs {
    border: 0;
    padding-right: 40px;
    justify-content: flex-end;
}
#contactPages #registerTabs .nav-link {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    padding: 10px 20px;
    border-radius: 7px 7px 0 0;
}
#contactPages #registerTabs .nav-link.active {
    background-color: var(--default);
    color: #000;
}

#contactPages #registerTabsContent {
    border: 5px solid var(--default);
    padding: 30px;
    border-radius: 20px;
}


/* #loginPages.register .form-title {
    font-size: 20px;
    text-transform: uppercase;
} */
#contactPages.contact .left .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}
#contactPages.contact .left .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contactPages.contact form {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
















/**************************************** HOME PAGE */
    /* banner */
        #home #banner .banner-wrapper {
        background-color: var(--default);
            padding: 14% 0;
            /*background-image: url(../images/banner1.png);*/
            background-size: 70%;
            background-position: right bottom;
            background-repeat: no-repeat;
        }
        #home #banner .banner-wrapper .banner-title {
            font-weight: bold;
            font-size: 48px;
            line-height: 110%;
        }

        #home .banner-wrapper .banner-content {
            margin: 20px 0 40px;
            font-size: 14px;
            font-weight: 500;
        }
        #home .banner-wrapper .banner-buttons {
            margin-top: 60px;
        }
    /* /banner */



    /* how it works */
        #howitworks {
            margin: 100px 0;
            position: relative;
        }
        #howitworks .video-item a.image-wrapper {
            display: block;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 15px;
            position: relative;
            color: inherit;
            text-decoration: none;
        }
        #howitworks .video-item a.image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #howitworks .video-item a.image-wrapper i {
            position: absolute;
            background-color: #000;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            transform: translate(-50%, -50%);
            color: var(--default);
            border-radius: 100%;
        }


        
        #howitworks .section-heading {
            margin-bottom: 120px;
        }
        #howitworks .img-design {
            position: absolute;
            z-index: -1;
            pointer-events: none;
            max-width: 400px;
            overflow: hidden;
        }
        #howitworks .img-design img {
            width: 100%;
        }
        #howitworks .img-design.one {
            top: -80px;
            left: 0;
        }
        #howitworks .img-design.two {
            top: 50px;
            right: 0;
        }



        #howitworks .owl-dots {
            display: flex;
            grid-gap: 40px;
            list-style: none;
            padding: 0;
            padding-left: 20px;
            opacity: 0.8;
            cursor: pointer;
            justify-content: center;
            margin-top: 15px;
        }
        #howitworks .owl-dots .owl-dot {
            outline: none;
        }
        #howitworks .owl-dots .owl-dot span {
            position: relative;
            background-color: #A4A4A4;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            display: block;
        }
        #howitworks .owl-dots .owl-dot span:hover,
        #howitworks .owl-dots .owl-dot.active span {
            content: '';
            background: var(--default);
            border-radius: 100%;
            z-index: -1;
        }


        #howitworks .howitwork-slider .owl-item {
            padding: 20px;
            /* padding-bottom: 100px; */
        }
        
        #howitworks .howitwork-slider .image-wrapper {
            height: 350px;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 20px rgb(0,0,0,0.1);
        }
        #howitworks .howitwork-slider .image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    /* /how it works */






    /* self exploration */
        #selfexploration {
            margin: 0 0 100px;
        }
        #selfexploration .title {
            font-size: 45px;
        }
        #selfexploration hr.divider {
            margin-bottom: 80px;
            position: relative;
            background: #D0D0D0;
        }
        #selfexploration hr.divider::after {
            content: '';
            height: 5px;
            width: 5px;
            background-color: #D0D0D0;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        #selfexploration hr.divider::before {
            content: '';
            height: 5px;
            width: 5px;
            background-color: #D0D0D0;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }



        #selfexploration .iconWrap .bg {
            text-align: center;
            padding: 30px;
            font-size: 80px;
            position: relative;
            z-index: 0;
            /* background-color: #dfdfdf; */
        }
        #selfexploration .item {
            text-align: center;
        }
        #selfexploration .item .details {
            padding: 0 20px;
        }
        #selfexploration .item .details p{
           min-height: 97px;
        }
        #selfexploration .iconWrap .bg::before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-image: url(../images/white-circle.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        #selfexploration .iconWrap .bg::after {
            content: '';
            width: 100px;
            height: 100px;
            background: red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 30px 30px 80px rgb(0,0,0,0.3);
            z-index: -2;
        }
        
        
        #selfexploration .details b {
            display: block;
            font-size: 20px;
            margin: 20px 0 10px;
        }

    /* /self exploration */





    /* bottom section */
        #bottomsection {
            background-image:  linear-gradient(to right, #ECAE0C, #FFDB7C);
            overflow: hidden;
        }
        
        #bottomsection .bgimage {
            position: relative;
        }
        #bottomsection .bgimage::before {
            content: '';
            height: 200%;
            width: 150%;
            position: absolute;
            left: 70%;
            top: 65%;
            background-image: url(../images/design.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transform: translate(-50%,-50%);
        }
        #bottomsection .bgimage .image-wrapper {
            width: 100%;
            max-width: 420px;
            overflow: hidden;
            margin-left: auto;
            position: relative;
            padding-top: 20px;
        }
        #bottomsection .bgimage .image-wrapper img {
            width: 100%;
        }


        #bottomsection .title {
            font-size: 48px;
            font-weight: bold;
        }
        #bottomsection p {
            font-size: 20px;
            font-weight: 500;
            margin: 20px 0 40px;
        }


        #bottomsection .left .item {
            background-color: rgb(255,255,255,0.8);
            height: 180px;
            padding: 30px;
            border-radius: 10px;
        }
        #bottomsection .left .image-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        #bottomsection .left .image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .hed-sec{
            width:100%;
            max-width:65%;
        }
        @media (max-width:1200px){
            .hed-sec{max-width:100%;}
        }
    /* /bottom section */
/**************************************** /HOME PAGE */













































/**************************************** FOOTER */
    #footer {
        padding: 50px 0;
        background-color: #22292D;
        background-image: url(../images/footer-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        clear: both;
    }


    #footer .contact-info .info-wrap {
        color: #fff;
        display: flex;
        align-items: center;
    }
    #footer .contact-info .info-wrap .iconWrap {
        flex: 0 0 60px;
        height: 60px;
        background-color: var(--default);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        margin-right: 20px;
    }
    #footer .contact-info .info-wrap .details {
        font-size: 14px;
    }


    #footer .foot-bottom {
        margin-top: 50px;
        margin-bottom: 0;
    }
    #footer .logo {
        display: block;
        max-width: 300px;
        overflow: hidden;
    }
    #footer .logo img {
        width: 100%;
    }
    #footer .copyright {
        color: #fff;
        margin-top: 30px;
    }



    #footer .foot-title {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    #footer ul.foot-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }
    #footer ul.foot-menu li a {
        display: block;
        padding: 5px 0;
        text-decoration: none;
        color: #fff;
        position: relative;
        padding-left: 20px;
    }
    #footer ul.foot-menu li a::before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: var(--default);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }


    #footer ul.social-wrap {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }
    #footer ul.social-wrap li a {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        padding: 5px 0;
    }
    #footer ul.social-wrap li a i {
        width: 25px;
        height: 25px;
        background-color: var(--default);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 15px;
        font-size: 12px;
    }
/**************************************** /FOOTER */
/*** 27-12-2021 ***/

#footer .contact-info .info-wrap .details a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
#footer .contact-info .info-wrap .details a:hover{
     color: #d1d1d1;
    text-decoration: none;
}

section.banner-inner{
position: relative;
overflow: hidden;
}

section.banner-inner img {
width: 100%;
}

section.banner-inner:before{
content: '';
height: 100%;
width: 100%;
background-color: rgb(0,0,0,0.7);
position: absolute;
top: 0;
left: 0;
}

section.banner-inner #breadcrumb {
position: absolute;
transform: translateY(-50%);
width: 93%;
background: none;
top: 50%;
padding: 0;
float:left;
overflow: visible;
}

section.banner-inner #breadcrumb:after{
display: none;
}
a.copyrighttitle {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

/* User Sections */
/*********my profile***************/

.divid{width: 100%; background: #F8B914; height: 4px; float: left;}
.portfolio-bx{
    padding: 0px !important;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px !important;
}

.portfolio-bx .pro-left{
    background: linear-gradient(0deg, #202629 6569.53%, #DFE0E0 15910.87%);
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 100%;
    padding:45px 25px;
    border-radius: 5px;
}
.portfolio-bx .pro-rgt{
    padding: 45px;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    height: 100%;
}
#loginPages.login .inner-wrapper.portfolio-bx{
    background-image: none;
}
.portfolio-bx form{
    border:none !important; 
    margin-bottom: 40px !important;
    padding-bottom: 0px !important;

}
.portfolio-bx h2{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    text-transform: uppercase;
    color: #081736;
      font-family: 'Gotham';
}
.portfolio-bx h3{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    color: #081736;
      font-family: 'Gotham';
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-style: normal;
    font-weight: 300 !important;
    font-size: 22px;
    line-height: 21px;
    color: #081736;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
   font-family: 'Gotham';
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  outline: solid 1px #F8B914;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #f8b914;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f8b914;
    outline: solid 3px #fff;
}
.radio-list{
    margin:0px;
    padding: 0px;
}
.radio-list li:first-child{
    margin-left: 0px;
}

.radio-list li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.portfolio-bx .form-group.fiel label{
    font-style: normal;
    font-weight: 500 !important;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    color: #081736;
     font-family: 'Gotham';
}
.portfolio-bx .form-group .form-control{
    padding: 10px 30px !important;
    background-color: transparent !important;
    border:solid 1px #F8B914 !important;
}

.grade-field{
    position: relative;
}
.portfolio-bx .grade-field input.form-control{
    padding-left: 100px !important;
}
.grade-field .grade-label{
   position: absolute;
    top: 0;
    left: 0;
    width: 77px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8b914;
    border-radius: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #081736;
    font-family: 'Gotham';
}
.plus-btn{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #F8B914;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 13px;
    float: right;
    text-decoration: none !important;
}
.plus-btn:hover{
    background-color: #000;
    color: var(--default);
}
.plus-btn i{
    position: relative;
    top: 1px;
}
.grade-field .fa-calendar{
    position: absolute;
        right: 10px;
    top: 10px;
    font-size: 23px;
}
.edit-filed{
    position: relative;
}
.edit-filed button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8b914;
    border-radius: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #081736;
    font-family: 'Gotham';
    border:none;
}
.edit-filed button:hover{
    background-color: #000;
    color: var(--default);
}

.fav-bx{
    background: #FFFFFF;
border: 1px solid #F8B914;
box-sizing: border-box;
border-radius: 10px;
padding: 35px;
}
.fav-bx-in h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.fav-bx h4{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    text-transform: capitalize;
    color: #081736;
    font-family: 'Gotham';
}
.fav-bx ul{
    margin: 25px 0px;
    padding: 0px;
}
.fav-bx ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
}
.fav-bx ul li:first-child{
    padding-left: 0px;
}
.fav-bx ul li:nth-child(2){
    color: #848484;
}
.fav-bx-in .fav-bx{
    margin-bottom: 35px;
}
.fav-bx-in .fav-bx:last-child{
    margin-bottom: 0px;
}
.user-pp-image{
    position: relative;
    width: 240px;
    height: 240px;
        margin: 0px auto;
}
.user-pp-image figure{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    margin: 0px auto;
}
.upload-btn{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #F8B914;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 40px;
    border: solid 1px #fff;
}
.upload-btn:hover{
    background-color: #000;
    color: var(--default);
}
.pro-left h2{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 25px 0px;
}
.lft-user-panel{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
}
.lft-user-panel li{
    list-style: none;
    display: block;
    line-height: initial;
    border-bottom: 1px solid #364247;
    position: relative;
    /* height: auto; */
}
.lft-user-panel li:last-child{
    border-bottom: none;
}
.lft-user-panel li a{
        font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
    width: 100%;
}

.lft-user-panel li a i{
    color: #f8b914;
    font-size: 21px;
    margin-right: 15px;
}
.lft-user-panel li.active:before{
    content: '';
    position: absolute;
    top: 25px;
    right: 0;
    width: 100px;
    height: 11px;
    background: url(../images/line8.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.av-bx-in{
    padding: 0px;
}
.guide-bx{

}
.guide-bx h3{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #081736;
    margin:15px 0px;

}
.guide-inner{
    border: 1px solid #F8B914;
    border-radius: 10px;
    padding:20px;
    text-align: center;
    min-height: 248px;
}
.guide-inner p{
    text-align: left;
    min-height: 150px;
}
.portfolio-bx .form-group.date-ff  input.form-control{
    padding-right: 10px !important;
}
.portfolio-bx .form-group{
    margin-bottom: 25px;
}

/******explore-search*******/


/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #F8B914;
box-sizing: border-box;
border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #F8B914;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-table thead tr th{
    background-color: #F8B914;
}
.search-table tbody tr td{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.search-tb .pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.search-tb .pagination li a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border:solid 1px #000;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
    font-weight: 400;
    font-family: 'Gotham';
    text-decoration: none;
}
.search-tb .pagination li a.active{
    background: #F8B914;
    border:solid 1px #F8B914;
}
.search-tb .pagination li{
    margin: 0px 5px;
}


/********career search************/

.range-field .ui-widget.ui-widget-content {
    border: 1px solid #EFEFEF;
}
.range-field .ui-widget-content{
    background: #EFEFEF;
}
.range-field .ui-widget-header{
        background: #f8b914
}
.range-field .ui-slider-horizontal{
    height: 6px;
}
.range-field .ui-slider .ui-slider-handle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -6px;
}

.range-field .form-control{
    margin-top: 25px;
}
.range-field #slider-range{
    margin-top: 20px;
}


/****my goal*************/

.goal-chart{
    margin: 0px 0px 25px;
    padding: 0px;
}
.goal-chart li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.goal-chart li span, .goal-chart li span p{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.goal-chart li span{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
    color: #081736;
    font-family: 'Gotham';
}
.goal-chart li p{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 40px; 
    font-family: 'Gotham';
    color: #081736;
}
.add-goal{
    color: #fff !important;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 25px;
}
.add-goal i{
    width: 32px;
    height: 32px;
    background: #CF9A10;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
.goal-list{
    display: inline-block;
    width: 100%;
}
.goal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.goal-head h4{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: #081736;
    display: inline-flex;
    align-items: center;
}
.goal-head h4 span{
    width: 40px;
    height: 40px;
    background: #F8B914;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-right: 15px;
}
.achieved-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #0BC207 !important;
    text-decoration: none !important;
}
.pending-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #F8B914 !important;
    text-decoration: none !important;
}
.failed-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #eb0404 !important;
    text-decoration: none !important;
}
.goal-list{
    margin-top: 25px;
}


#circleBar {
  margin-top: 200px;
  text-align: center;
 
}
#circleBar .round {
  min-height: 255px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}
#circleBar .round strong {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  transform: translate(-50%);
  font-size: 40px;
  color: #212121;
  font-weight: 100;
}
#circleBar span {
  display: block;
  color: #999;
  font-size: 16px;
  margin-top: 10px;
}
#circleBar span i {
  color: #ff5c5c;
  font-size: 22px;
  margin-right: 6px;
}
.progress-goal .card{
    position: relative;
    width: 200px;
    margin: 0px auto;
    border: none;
}
.progress-goal .card .box{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    color: #081736;
    font-family: 'Gotham';
}
.progress-goal .card .box p{
    font-weight: 300 !important;
    font-size: 18px;
}
.progress-goal h4{
    margin-bottom: 25px;
}

/********search************/

.searc-vx{
    display: inline-block;
    width: 100%;
    margin:35px 0px;
}

.searc-vx .form-group .form-control {
    padding: 10px 10px !important;
    }

    .search-list-bx{
        border: 5px solid var(--default);
    padding: 50px;
    border-radius: 20px;
    margin:25px 0px;
    }

    .search-list-bx .search-lft h4{
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 22px;
        color: #081736;
        font-family: 'Gotham';
        margin-bottom: 25px;
    }
    .search-list-bx .search-lft p{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #5e5e5e;

    }
    .search-list-bx .search-lft p span{
        display: block;
        color: #081736;
        font-size: 22px;
    }
    .search-rgt{
        text-align: right;
    }
     .search-rgt .btn{
        padding: 10px 30px;
     }

     .search-rgt .fever{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #081736;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: end;
        text-decoration: none !important;
     }

      .search-rgt .fever i{
        color: #f8b914;
        margin-right: 10px;
        font-size: 26px;
      }
      .search-mid ul{
        margin:0px;
        padding: 0px;
      }
      .search-mid ul li{
        list-style: none;
        display: inline-block;
      }
      .search-mid ul li.progress-goal{
        width: 150px;
            margin: 0px 5px;
      }
      .search-mid ul li.progress-goal .card{
        width: 150px;
      }
      .search-mid ul li.progress-goal .card h5{
        text-align: center;
        margin-top: 15px;
      }

      .search-cnt{
        padding: 45px 0px;
      }

      .search-mid .progress-goal .card .box{
        top: 43%;
      }

      /*================================
 404 Page
===================================*/
.error-section{
    width: 100%;
    float: left;
}
.errormessage-box{
    width: 100%;
    text-align: center;
}
.sorry-iconbox {
	width: 210px;
	height: 210px;
	margin: auto;
	background-color: #eaeaea;
	border-radius: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
.sorry-iconbox img {
	width: 60%;
	height: 100%;
	object-fit: contain;
}
.errormessage-box h1{
    font-size: 70px;
    color: var(--default);
}

.errormessage-box p {
	font-size: 22px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.descriptioncls{ margin-top: 30px; margin-bottom: 30px;}
.experienceblock{border: dashed 2px #f8b914;margin: 10px;padding-top:15px;}
.removebtn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -13px;
    top: -10px;
    z-index: 9;
    
}
.relativeremovebtn{
    position:relative;
}
.sel .dropdown-btn{
    padding: 10px 30px !important;
    background-color: initial !important;
    border: 1px solid #f8b914 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    
    max-width: auto !important;
}

/*---Profile Image upload -----*/
.image-upload>input {
    display: none;
  }
  .user-pp-image figure img{
      width: 100%;
      height: 100%;
      object-fit:cover;
      object-position: center center;
  }
  .icon-spin {
      display: inline-block;
      -moz-animation: spin 2s infinite linear;
      -o-animation: spin 2s infinite linear;
      -webkit-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
  }
  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }
  @-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  .fm
{
	margin-top:-10px;
	margin-bottom:10px;
}

.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}
  
/*================================
 SearchResult Details Page
===================================*/
.innerbanner-wrapper{
    width: 100%;
    position: relative;
}
.innerbanner-wrapper img{
    width: 100%;
}
.innerbanner-wrapper::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.breadcrumb {
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
    text-align: center;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.breadcrumb ul li{
    list-style: none;
    display: inline-block;
    font-size: 23px;
    
}
.breadcrumb ul li a{
    color: #fff;
    text-decoration: none;
}
.breadcrumb ul li:last-child a{
    cursor: default;
    pointer-events: none;
}
.breadcrumb ul .dash {
	width: 29px;
	height: 1px;
	background-color: var(--default);
	display: inline-block;
	position: relative;
	top: -6px;
	margin: 0 10px;
}
.inner-pageContainer{
    width: 100%;
}
.certified-container{
    width: 100%;
    border: 6px solid var(--default);
    border-radius: 4px;
    float: left;
    padding-bottom: 50px;
}
.padding-y{
    padding: 95px 0;
}
.certified-header{
    width: 100%;
    float: left;
}
.certified-header h3{
    float: left;
    font-size: 30px;
    color: #081736;
}
.certified-header h4{
    float: right;
    font-size: 21px;
    color: #081736;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.certified-header h4 .addto-favourite{
    margin-right: 4px;
}
.certified-listcontainer{
    width: 100%;
    float: left;
}
.certified-listitem{
    width: 100%;
    float: left;
}
.certified-listitem ul{
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
.certified-listitem ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    font-size: 19px;
    color: #5e5e5e;
    padding: 10px 18px;
}
.certified-listitem ul li:not(:last-child){
    border-right: 1px solid #ccc;
}
.certified-listitem ul li .icon{
    width: 42px;
    height: 42px;
    margin-right: 8px;
}
.certified-listitem ul li .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.certified-listitem ul li .value{
    color: #081736;
}
.certified-listitem ul + ul{
    border-top: 0;
}
.certifiedProgress-container{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.circel-progressbar{
    width: 200px;
      margin: 20px;
    float: left;
}
.radialProgressBar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e6e6e6;
}
.radialProgressBar .overlay {
  border-radius: 50%;
  width: 185px;
  height: 185px;
  margin: auto;
  background: #fffaec;
  text-align: center;
  padding-top: 0;
    font-size: 22px;
}
.circel-progressbar h5{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #081736;
    margin: 25px 0 0 0;
}
.progress-10 {
  background-image: -webkit-linear-gradient(36deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #f8b914 50%, #ddd 50%);
  background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #f8b914 50%, #ddd 50%);
}
.progress-65 {
  background-image: -webkit-linear-gradient(left, #f8b914 50%, transparent 50%), -webkit-linear-gradient(36deg, #f8b914 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #f8b914 50%, transparent 50%), linear-gradient(54deg, #f8b914 50%, #ddd 50%);
}
.progress-100 {
  background-image: -webkit-linear-gradient(left, #028cd5 50%, transparent 50%), -webkit-linear-gradient(right, #f8b914 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #f8b914 50%, transparent 50%), linear-gradient(-90deg, #f8b914 50%, #ddd 50%);
}

.certified-textContainer{
    width: 100%;
    float: left;
}
.certified-textContainer p{
    font-size: 120%;
    color: #000;
}
.button-container{
    width: 100%;
    float: left;
}
.button-container .button{
    width: 220px;
    height: 52px;
    padding: 8px 8px;
    background-color: #f8b914;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 40px;
    text-decoration: none;
    transition: all linear 0.5s;
}
.button-container .button:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
/*================================
 End SearchResult Details Page
===================================*/

/*================================
 Search page for filter section
===================================*/
.filter_side{
    width: 100%;
    float: left;
    padding: 0;
}
.flbox {
	width: 100%;
	float: left;
}
.flbox .fltext {
	height: 40px;
	line-height: 35px;
	color: #081736;
	padding: 0 10px 0 6px;
	border: 1px solid #f8b914;
	-webkit-border-radius: 5px;
	border-radius: 8px;
	margin: 0 10px 4px 0;
	display: inline-block;
    font-size: 16px;
}
.fltext em {
	width: 17px;
	height: 17px;
	position: relative;
	vertical-align: top;
	margin-top: 8px;
	display: inline-block;
	cursor: pointer;
}
.fltext em::after, .fltext em::before {
	width: 11px;
	height: 1px;
	position: absolute;
	content: "";
	background: #081736;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.fltext em::before {
	left: 5px;
	top: 5px;
	-webkit-transform: rotate(46deg);
	transform: rotate(46deg);
}
.fltext em::after {
	left: 4px;
	bottom: 3px;
	-webkit-transform: rotate(-44deg);
	transform: rotate(-44deg);
}
/*================================
 End Search page for filter section
===================================*/

/*Search Result Details Css*/

.radialProgressBar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      position: relative;
  }
  .radialProgressBar .overlay {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    background: #fffaec;
    text-align: center;
      font-size: 22px;
      margin: 0;
  }
  .valu-part {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 22px;
      color: #212529;
  }
  
  
  .certified-listitemp ul{
      border: 1px solid #ccc;
      border-left: 0;
      border-right: 0;
      width: 100%;
      float: left;
      display: inline-flex;
      justify-content: center;
      margin-bottom: 0;
  }
  .certified-listitemp ul + ul{
      border-top: 0;
  }
  .certified-listitemp ul .media{
      padding: 10px 10px;
      /*width: 25%;*/
      float: left;
      align-items: center;
  }
  .certified-listitemp ul .media:not(:last-child){
      border-right: 1px solid #ccc;
  }
  .certified-listitemp ul .media .media-body h5{
      font-size: 19px;
      color: #5e5e5e;
      word-wrap: anywhere;
      font-weight: normal;
  }
  .certified-listitemp ul .media .media-body h5 span{
      color: #081736;
  }
  
  /*End Search Result Details Css*/
  .titlecls{ text-decoration: none !important; color:#000 !important;}
  .titlecls :hover{ text-decoration: none !important; color:#000 !important;}

  /* Search Page Show Message and Nofound Blog css */
.alertshow-text{
    width: 100%;
    text-align: center;
    position: relative;
    top: -15px;
}
.alertshow-text p{
    margin-bottom: 0;
    font-size: 15px;
    color: #155724;
    font-weight: 500;
    letter-spacing: 1px;
}
.notfound-section{
    width: 100%;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    text-align: center;
    padding: 15px 0;
}
.notfound-section .iconbox{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #721c24;
    border: 3px solid #fff;
    margin: auto;
}
.notfound-section .iconbox .fa {
	font-size: 35px;
	line-height: 70px;
	text-align: center;
	color: #fff;
}
.notfoundmessage-box p{
    font-size: 20px;
    color: #721c24;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}
/* /Search Page Show Message and Nofound Blog css */

/*================================
 SearchResult Interactive Page
===================================*/
.heading-section{
    width: 100%;
    float: left;
    margin-top: 65px;     
}
.heading-section h2{
    font-size: 40px;
}
.fillter-section{
    width: 100%;
}
.filter_topfull {
    width: 100%;
    float: left;
	padding: 10px;
    margin-top: 40px;
	margin-bottom: 30px;
	background: #fafafa;
}
.sideblock,
.heading-toppart{
    width: 100%;
    float: left;
}
.heading-toppart{
    margin-bottom: 20px;
}

.filter_topfull h3 {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: 600;
    float: left;
}
.filter_topfull .filter_side {
	padding: 0;
	background: none;
}
.filter_topfull .clearall {
    float: right;
	color: #000;
	font-size: 16px;
	cursor: pointer;
    transition: all linear 0.5s;
}
.filter_topfull .clearall:hover{
    color: #f8b914;
}
.flbox{
    width: 100%;
    float: left;
}
.fltext {
	height: 40px;
	line-height: 30px;
	color: #081736;
	padding: 0 18px 0 12px;
	border: 1px solid #f8b914;
	-webkit-border-radius: 5px;
	border-radius: 8px;
	margin: 0 10px 4px 0;
    display: inline-block;
}
.filter_topfull .fltext {
	line-height: 35px;
	font-size: 16px;
	padding: 0 10px 0 6px;
}
.filter_topfull .fltext:last-child {
    margin-right: 0;
}
.fltext em {
	width: 17px;
	height: 17px;
	position: relative;
	vertical-align: top;
	margin-top: 8px;
	display: inline-block;
	cursor: pointer;
}
.fltext em::after, .fltext em::before {
	width: 11px;
	height: 1px;
	position: absolute;
	content: "";
	background: #081736;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.fltext em::before {
	left: 5px;
	top: 5px;
	-webkit-transform: rotate(46deg);
	transform: rotate(46deg);
}
.fltext em::after {
	left: 4px;
	bottom: 3px;
	-webkit-transform: rotate(-44deg);
	transform: rotate(-44deg);
}
.select_box{
    width: 100%;
    float: left;
}
.select_box select{
    width: 100%;
    height: 40px;
	border: 1px solid #f8b914;
	border-radius: 8px;
    background-color: white;
    padding: 0 10px;
    font-size: 16px;
    -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
    /*background-image: url(../images/down-arrow.png);*/
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
.pricerange_box .filterbox .slider.slider-horizontal {
	width: 100% !important;
	display: table;
	margin: 0;
}
.pricerange_box .filterbox .slider.slider-horizontal .slider-track {
	border-radius: 0;
	height: 5px;
	background: #efefef;
	box-shadow: none;
    width: 100%;
    left: 0;
    position: absolute;
    cursor: pointer;
}
.pricerange_box .filterbox .slider.slider-horizontal .slider-selection {
	background: #f8b914;
	box-shadow: none;
    height: auto;
    top: -1px;
    bottom: -1px;
    position: absolute;
    border-radius: 15px;
    box-sizing: border-box;
}

.pricerange_box .filterbox .slider.slider-horizontal .slider-handle {
	width: 17px;
	height: 17px;
	background: #f8b914;
	margin-top: -17px;
	margin-left: -5px;
	position: relative;
    box-shadow: none;
    opacity: 1;
    border: 1px solid #d79f0a;
}
.pricerange_box .filterbox .slider.slider-horizontal .left-round {
	margin-left: 0 !important;
	margin-top: -7px;
}
.slider-handle.round{
    border-radius: 20px;
}
.pricerange_box .filterbox .slider.slider-horizontal .slider-handle:hover {
	background: #f8b914;
}
.pricerange_box .filterbox .pricerange {
	float: left;
	width: 100%;
	padding: 0;
	margin-top: 6px;
	position: relative;
}
.pricerange_box .filterbox .pricerange .rangevalue {
	float: left;
	position: relative;
	width: 100%;
	color: #545454;
	font-size: 15px;
	margin: 0;
}
.filter_topfull .prleft, .filter_topfull .prright {
    min-width: 110px;
    text-align: center;
    border: 1px solid #f8b914;
    padding: 0 5px;
    color: #152440;
	height: 40px;
	line-height: 35px;
	font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}
.prleft {
	float: left;
}
.prright {
	float: right;
}
.rangevalue > span {
	font-size: 19px;
	font-weight: 500;
	color: #152440;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.fillter-section .button-container{
    margin-top: 60px;
}
.calendar-view{
    width: 100%;
    float: left;
    margin-top: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.mtab {
	position: relative;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	background-color: #e5e5e5;
	font-size: 14px;
	text-transform: capitalize;
	display: block;
	text-align: center;
	color: #081736;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.5s;
}
.mtab:hover{
    text-decoration: none;
    color: #081736;
    background-color: #f8b914;
}
.mapnav_slide .item .active{
    background-color: #f8b914;
    color: #081736;
    font-weight: 400;
}
.mapnav_slide {
	position: relative;
	margin-bottom: 30px;
	padding: 0 50px;
}
.mapnav_slide .owl-carousel .owl-nav .owl-next, 
.mapnav_slide .owl-carousel .owl-nav .owl-prev {
	width: 30px;
	height: 30px;
	line-height: 28px;
	border: none;
	color: #fff;
	background: rgba(248,185,20,.9);
	font-size: 13px;
	padding: 0;
	float: none;
	margin: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	z-index: 2;
	top: 50%;
	-webkit-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}
.mapnav_slide .owl-carousel .owl-nav .owl-prev {
	left: -50px;
	top: 50%;
	transform: translate(0,-50%);
}
.mapnav_slide .owl-carousel .owl-nav .owl-next {
	right: -50px;
	top: 50%;
	transform: translate(0,-50%);    
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled{
    background-color:#e5e5e5!important;
    color: #000 !important;
}
.map-box{
    width: 100%;
    float: left;
    background-color: var(--default);
    padding-top: 12px;
    border-radius: 8px;
    padding-bottom: 20px;
}

#map .map-row .block, #map .map-row .col-label {
	width: 9.5%;
}
#map .map-row .row-label.advanced,
#map .map-row .row-label,
#map .map-row .row-label.entry{
    background-color: transparent;
/*
    height: 153px!important;
    margin-top: 50px;
*/
    position: relative;
    display: flex;
    align-items: center;
}
#map .map-row .row-label .title {
	width: 165px !important;
	line-height: 20px !important;
	margin-left: -158px !important;
	position: relative;
	background-color: rgba(255,255,255,0.5);
	height: 70px;
    z-index: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: -50px;
}
#map .map-row .row-label .title span{
    background-color: transparent;
    font-size: 14px;
}
#map .map-row .col-label {
	margin-bottom: 0;
	margin-top: 15px;
    border-right: 0;
    border-bottom: 0;
}
.vert-match{
    clear: both;
}
/*================================
 End SearchResult Interactive Page
===================================*/

/*11032022*/
.fillter-section .filter_topfull .heading-toppart{
    float: none;
}
.fillter-section .filter_topfull .pricerange_box .range-field #slider-range{
    clear: both;
    margin-top: 46px;
}

.range-field .form-control{
    background-color: initial !important;
    border: 1px solid #f8b914 !important;
}
.filter_topfull .clearall a{
    color: #df0a0a;
    transition: all linear 0.5s;
}
.filter_topfull .clearall a:hover{
    color: #f8b914;
    text-decoration: none;
}
.select_box select{
 /*background-image: url(../images/down-arrow.png);*/
}

@media (max-width:767.98px){
    .fillter-section .filter_topfull .pricerange_box .range-field #slider-range{
        margin-top: 0;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .fillter-section .filter_topfull .pricerange_box .range-field #slider-range{
        margin-top: 0;
    }    
}

.modal .close
{
	background: #000;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top: -12px;
	right: -12px;
	opacity: 1;
}
.modal .close:hover
{
	background: #f8ca14;
	color: #000;
}
.cs
{
	position:absolute;
	right:0;
	top:-10px;
    z-index:9;
}
.search-table tbody tr td a
{
	color:#000;
	text-decoration:none;
}
.search-table tbody tr td a:hover
{
	color:#f8b914;
}
/*----FAQS---*/
.faq
{
    padding: 50px 0;
}
.main-heading
{
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin:0 0 30px 0;
    font-size: 40px;
}


.acd .btn
{
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
    .acd .btn span
{
    float: right;
    transform: rotate(-180deg);
}
.acd .btn.collapsed span
{
    float: right;
    transform: rotate(0deg);
}

.acd .btn.focus, .acd .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,0);
}
.acd .card
{
    margin:0 0 15px 0;
}
 .acd .card-header
 {
   background-color: #F8AA14;
        border-color: #EEEEEE;
 }
 .mbl
 {
     display: none;
     text-align: center;
 }
.portfolio-bx .form-group .form-control.ghf
{
    padding: 10px 30px 10px 90px !important;
}
.pfolio .form-group .form-control.ghf
{
    padding: 10px 30px 10px 90px !important;
}
.dec 
{
   display: block;
}
.mob{
  display: none;
}
#menu-icon
{
    display: none;
}
.portfolio-bx .form-group .form-control.pst
{
   padding: 10px 53px !important;
}
#map .map-grid .point .description .description-box{
    max-height:150px;
    overflow-y: scroll;
}
