<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">How It Works</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->
<!---------------------------------------------------------------- MAIN CONETNT -------->
<main id="home" class="content descriptioncls">
<section>
    <div class="container" >
    <div class="row" [innerHTML]="pageData?.page_description">
    
    </div>
    </div>
</section>

    <section id="howitworks">
        <div class="container">
            <div class="section-heading wow fadeInUp">
                <span  [attr.data-text]="pageData?.about_others?.how_works_title">{{ pageData?.about_others?.how_works_title }}</span>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <div class="video-item wow fadeInLeft">
                        <a href="javascript:void(0);" class="image-wrapper" data-toggle="modal" data-target="#videoOne">
                            <img class="lazy" [attr.data-src]="apiFileUrl+pageData?.how_videos?.how_image" alt="">
                            <i class="icon icon-play-icon"></i>
                        </a>
                    </div>
                    <div class="modal fade" id="videoOne" tabindex="-1" role="dialog" aria-labelledby="videoOneTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    <div class="video-wrapper">
                                        <video width="100%" controls [attr.data-poster]="apiFileUrl+pageData?.how_videos?.how_image">
                                            <source src="{{ apiFileUrl+pageData?.how_videos?.how_video }}" type="video/mp4">
                                            <source src="{{ apiFileUrl+pageData?.how_videos?.how_video_ogg }}" type="video/ogg">
                                            <source src="{{ apiFileUrl+pageData?.how_videos?.how_video_webm }}" type="video/webm">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="howitwork-slider owl-carousel owl-theme wow fadeInRight">
                        <div class="item" *ngFor="let how_img of pageData?.how_images">
                            <div class="image-wrapper"><img class="owl-lazy" [attr.data-src]="apiFileUrl+how_img.how_image" alt="{{how_img.title}}"></div>
                        </div>
                    </div>

                    <ul id='howitwork-custom-dots' class='owl-dots'> 
                        <li class='owl-dot' *ngFor="let how_img of pageData?.how_images"><span></span></li> 
                       
                    </ul>                                  
                </div>
                

            </div>
        </div>

        
        <div class="img-design one"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.how_works_image_left" alt=""></div>
        <div class="img-design two"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.how_works_image_right" alt=""></div>

    </section>
</main>