<h2>Guide Me</h2>
<hr>
<div class="row">
    <div class="col-lg-4"   *ngFor="let assessmentval of pageData; let i = index" >
        <div class="guide-bx">
            
                <h3>{{assessmentval.title}}</h3>
                <div class="guide-inner">
                <p>{{assessmentval.short_description}}</p>
                <a href="{{assessmentval.assessment_url}}" class="btn btn-default small circleeffect" target="_blank">Take a test</a>
            </div>
        </div>
    </div>
    
</div> 