<!---------------------------------------------------------------- BREADCRUMB -------->
<section id="innerbanner">
    <div class="innerbanner-wrapper">
        <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
        <div class="breadcrumb">
            <ul class="wow fadeInUp">
                <li><a routerLink="/index">Home</a></li>
                <span class="dash"></span>
                <li><a href="javascript:void(0);">Search</a></li>
            </ul>
        </div>
    </div>
</section>


<!---------------------------------------------------------------- /BREADCRUMB -------->
 <!---------------------------------------------------------------- MAIN CONETNT -------->
 <main class="content login search-cnt">

    <section>
        <div class="container">
            <section class="alertshow-text">
                <p>Search Result For-"{{searchKeyword}}"</p>
            </section>
            <div class="inner-wrapper">
                <form class="portfolio-bx searc-vx">
                    
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group fiel">
                                <label>Filters</label>
                            
                                <div class="filter_side">
                                    <div class="flbox">
                                        <span class="fltext" *ngIf="selectedJobLevel=='' && selectedJobSector=='' && selectedWage==''">

                                            No Filter Selected
                                        </span>
                                        <span class="fltext" *ngIf="selectedJobLevel!=''">
                                            <a href="javascript:void(0);" (click)="closeSelected('jl')"><em></em></a> 
                                            {{selectedJobLevel}}
                                        </span>
                                        <span class="fltext" *ngIf="selectedJobSector!=''">
                                            <a href="javascript:void(0);" (click)="closeSelected('js')"><em></em></a> 
                                             {{selectedJobSector}}
                                        </span>
                                        <span class="fltext" *ngIf="selectedWage!=''">
                                            <a href="javascript:void(0);" (click)="closeSelected('wg')"><em></em></a> 
                                            {{selectedWage}}
                                        </span>
                                        
                                                                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group fiel">
                                <label>Job Level</label>
                                <select class="form-control" name="job_level" id="job_level"  [(ngModel)]="jobLevel"  (ngModelChange)="onJoblevelSelected($event)">
                                    <option value="" [attr.data-id]="">Select Job Level</option>
                                    <option  *ngFor="let jl of filterData.job_levels" [value]="jl.id" [attr.data-id]="jl.title">{{jl.title}}</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group fiel">
                                <label>Job Sector</label>
                                <select class="form-control" name="job_sector" id="job_sector"  [(ngModel)]="jobSector" 
                                (ngModelChange)="onJobsectorSelected($event)">
                                    <option value="" [attr.data-id]="">Select Job Sector</option>
                                    <option  *ngFor="let js of filterData.job_sectors" [value]="js.id" [attr.data-id]="js.title">{{js.title}}</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group fiel range-field">
                                <label>Wage Range</label>
                                <div id="slider-range"></div>
                                        <input type="text" id="amount" class="form-control" readonly>
                            </div>
                            
                        </div>

                        <div class="col-lg-12">
                                    <div class="form-group text-center">
                                            <button type="button" class="btn btn-default small" (click)="GotoInteractive()">Interactive View</button>
                                        </div>
                                </div>

                    </div>
                </form>

               
                <!-- Page NotFound -->
                <section class="notfound-section" *ngIf="careerData?.careers?.length == 0">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="notfoundmessage-box wow fadeInUp">
                                    <div class="iconbox">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    </div>
                                    <p>Sorry, No Career Found.</p>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </section>                      
                <!-- /Page NotFound --> 

               

                <div class="search-list-bx" *ngFor="let item of careerData?.careers; index as i">
                    <div class="row align-items-center">
                        <div class="col-lg-4 search-lft">
                            <h4 ><a class="titlecls" routerLink="/career/{{item.slug}}">{{item.career_title}}</a></h4>
                            <p>Job sector: <span>{{item.scetor}}</span></p>
                            <p>Career track: <span>{{item.career_track}}</span></p>

                        </div>
                        <div class="col-lg-6 search-mid">
                            <ul>
                                <li class="progress-goal">
                                    <div class="card">
                                        <div class="circle" >
                                          <div class="bar" id="bar0{{i}}"></div>
                                          <div class="box"><span>{{item.wage_match}}%</span><p>Matched </p></div>
                                        </div>
                                        <h5>Wages</h5>
                                      </div>

                                </li>
                                <li class="progress-goal">
                                    <div class="card">
                                        <div class="circle">
                                          <div class="bar" id="bar1{{i}}"></div>
                                          <div class="box"><span>{{item.interested_match}}%</span><p> Matched </p></div>
                                        </div>
                                        <h5>Work interest</h5>
                                      </div>

                                </li>
                                <li class="progress-goal">
                                    <div class="card">
                                        <div class="circle">
                                          <div class="bar" id="bar2{{i}}"></div>
                                          <div class="box"><span>{{item.value_match}}%</span><p>Matched </p></div>
                                        </div>
                                        <h5>Work value</h5>
                                      </div>

                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-2 search-rgt">
                            <a routerLink="/career/{{item.slug}}" class="btn btn-default">Learn More</a><br>
                            <a  *ngIf="isLoggedIn && item.is_user_fav==0" href="javascript:void(0);" class="fever" (click)='AddFavorite(item.id);'><i class="fa fa-star-o" aria-hidden="true" ></i> Add to favourite</a>
                            <a  *ngIf="isLoggedIn && item.is_user_fav==1" href="javascript:void(0);" class="fever" (click)='removeFavorite(item.id);'><i class="fa fa-star" aria-hidden="true" ></i> Delete favourite</a>
                        </div>
                    </div>
                </div>





                
                <div class="search-tb">
                    <ul class="pagination pagination-lg" *ngIf="paginationArr.length >1">
                        <li><a href="javascript:void(0);" (click)="paginationFirstClicked()"><img src="assets/images/lft-arrow.png"></a></li>
                        <li><a href="javascript:void(0);" (click)="paginationPreviousClicked()"><i class="fa fa-chevron-left"></i></a></li>
                        <ng-container *ngIf="start > 1">
                            <li><a href="javascript:void(0);" (click)="paginationFirstClicked()">1</a></li>
                            <li><a href="javascript:void(0);" ><img src="assets/images/dot.png"></a></li>
                        </ng-container>
                        <ng-container *ngFor="let page of paginationArr">
                            <li *ngIf="page==currentPage"><a href="javascript:void(0);" class="active" title="Page {{page}}" >{{page}}</a></li>
                            <li *ngIf="page!=currentPage"><a href="javascript:void(0);" title="Page {{page}}" (click)="paginationClicked(page)">{{page}}</a></li>
                        </ng-container>
                        <ng-container *ngIf="end < last">
                            <li><a href="javascript:void(0);" ><img src="assets/images/dot.png"></a></li>
                            <li class="next"><a href="javascript:void(0);" (click)="paginationNextClicked()"><i class="fa fa-chevron-right"></i></a></li>
                        </ng-container>
                        <ng-container *ngIf="end >= last">
                            <li class="next"><a href="javascript:void(0);" (click)="paginationNextClicked()"><i class="fa fa-chevron-right"></i></a></li>
                        </ng-container>
                        <li><a href="javascript:void(0);" (click)="paginationLastClicked()"><img src="assets/images/rgt-arrow.png"></a></li>
                        
                    </ul>

                </div>
                
            </div>

        </div>
    </section>

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->