<!---------------------------------------------------------------- MAIN CONETNT -------->
<main id="home" class="content">

<section id="innerbanner">
    <div class="innerbanner-wrapper">
        <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
        <div class="breadcrumb">
            <ul class="wow fadeInUp">
                <li><a routerLink="/search">Search</a></li>
                <span class="dash"></span>
                <li><a href="javascript:void(0);">{{careerData.career_title}}</a></li>
            </ul>
        </div>
    </div>
</section>

<!------------------- Inner Page Certified Nurse Assistant -->
<section class="inner-pageContainer padding-y">

    <div class="container">
        <!--<div class="section-heading wow fadeInUp">
            <span data-text="How It Works">How It Works</span>
        </div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="certified-container">
                    <div class="certified-header px-4 py-4 px-sm-3 py-sm-3">
                        <h3>{{careerData.career_title}}</h3>
                        <a *ngIf="isLoggedIn && careerData.is_user_fav==0" href="javascript:void(0);" (click)='AddFavorite(careerData.id);'><h4 >
                            <img src="assets/images/star.png" class="addto-favourite">
                            Add to favorite</h4></a>
                            <a *ngIf="isLoggedIn && careerData.is_user_fav==1" href="javascript:void(0);" (click)='removeFavorite(careerData.id);'><h4 >
                              <img src="assets/images/star.png" class="addto-favourite">
                              Delete favorite</h4></a>
                    </div>
                    
                    <div class="certified-listcontainer">
                    
                        <div class="certified-listitemp">
                                         
                            <ul class="list-unstyled">
                              <li class="media">
                                <img class="mr-2" src="assets/images/helath-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Job sector:<span>{{careerData.scetor}}</span></h5>
                                  </div>
                              </li>
                                
                              <li class="media">
                                <img class="mr-2" src="assets/images/jobzone-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Job Zone:<span>{{careerData.job_zone}}</span></h5>
                                  
                                </div>
                              </li>
                                
                              <li class="media">
                                <img class="mr-2" src="assets/images/education-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Education Level:<span>{{careerData.education_levels}}</span></h5>
                                
                                </div>
                              </li>
                                
                              <li class="media">
                                <img class="mr-2" src="assets/images/skills-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Skills :<span>{{careerData.career_credentials}}</span></h5>
                                </div>
                              </li>    
                            </ul>
                                                                        
                                                                        
                            <ul class="list-unstyled">
                              <li class="media">
                                <img class="mr-2" src="assets/images/salaryrange-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Average Salary Range:<span>{{careerData.avg_wage}}</span></h5>
                                  </div>
                              </li>
                                
                              <li class="media">
                                <img class="mr-2" src="assets/images/career-icon.png" alt="" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0 mb-1">Career track:<span>{{careerData.career_track}}</span></h5>
                                  
                                </div>
                              </li>
                                
                                
                            </ul>                                            
                                                                        
                                                                        
                        </div>
                    </div>
                    
                   
                    <div class="certifiedProgress-container">
                        <div class="circel-progressbar wow fadeInUp">
                            <div class="radialProgressBar">
                              <div class="overlay" id ="progress_wage"></div>
                                <div class="valu-part">
                                    <article>{{careerData.wage_match}}%</article>
                                    <p>Matched</p>
                                </div>
                            </div>                                            
                            <h5>Wages</h5>
                        </div>
                        <div class="circel-progressbar wow fadeInUp">
                            <div class="radialProgressBar">
                              <div class="overlay" id="progress_interest"></div>
                                <div class="valu-part">
                                    <article>{{careerData.interested_match}}%</article>
                                    <p>Matched</p>
                                </div>                                                
                            </div>
                            <h5>Work interest</h5>
                        </div>
                        <div class="circel-progressbar wow fadeInUp">
                            <div class="radialProgressBar">
                              <div class="overlay" id="progress_value"></div>
                                <div class="valu-part">
                                    <article>{{careerData.value_match}}%</article>
                                    <p>Matched</p>
                                </div>                                                
                            </div>
                            <h5>Work value</h5>
                        </div> 
                        

                    </div>
                   
                    
                    <div class="certified-textContainer px-4">
                      <h5>Description:</h5>
                      <div  [innerHtml]="careerData.short_description"></div>
                      <h5>Work Interests:</h5>
                      <div  >{{careerData.work_intersts}}</div>
                      <h5>Work Values:</h5>
                      <div  >{{careerData.work_values}}</div>
                      <h5>Work Style:</h5>
                        <div  [innerHtml]="careerData.work_style"></div>
                        <h5>Work Context:</h5>
                        <div  [innerHtml]="careerData.work_context"></div>
                       
                        
                        <div class="button-container">
                            <a href="javascript:void(0);" (click)='back();' class="button circleeffect">Search For Jobs</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

</section>
<!------------------- /Inner Page Certified Nurse Assistant -->

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->