<h2>My Goal</h2>
<hr>

    <div class="row">
        <!--<div class="col-lg-12">
            <div class="form-group fiel">
                <label>Career details</label>
                <hr>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="goal-chart">
                <li><span>Career</span><p>Nursing</p></li>
                <li><span>Sector</span><p>Healthcare</p></li>
                <li><span>Title</span><p>LPN</p></li>
                <li><span>Average Wage</span><p>$17- $19</p></li>
            </ul>
            
        </div>
        <div class="col-lg-6 progress-goal">
            <h4 class="text-center">Progress</h4>
                <div class="card">
                    <div class="circle">
                        <div class="bar"></div>
                        <div class="box"><span></span><p>Completed </p></div>
                    </div>
                    </div>
                                                
        </div>-->
        
        <div class="col-lg-12">
            <!--<hr>-->
            <div class="form-group text-right">
                <button class="btn btn-default add-goal" id="auto_trigger_goal" (click)="addGoal()">Add Goal <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <form [formGroup]="goalForm" (ngSubmit)="careerGoalSubmit()">
               
                <div class=""  *ngIf="goalCount == 0" >
                    <p>{{responeseGoal}}</p>
                </div>
                <div formArrayName="goals">
                <div class="goal-list" *ngFor="let goal_val of goals().controls; let j= index" [formGroupName]="j">
                    <div class="goal-head">
                        <h4><span>{{j+1}}</span> Goal {{j+1}}</h4> <a href="javascript:void(0);" class="achieved-btn" id="status{{j}}"></a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cs">
                                <a  href="javascript:void(0);" class="plus-btn" (click)="removeGoal(j)"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <input type="hidden"  formControlName="cg_tid" >
                                <div class="form-group">
                                    <select class="form-control" formControlName="goal_career">
                                        <option value="">Select Career</option>
                                        <option  *ngFor="let career of careerData" [value]="career.career_id" [attr.data-id]="career.career_titletitle">{{career.career_title}}</option>
                                    </select>
                                </div>
                                <small class="text-danger d-block mt-3 fm" *ngIf="goals().controls[j].get('goal_career')?.errors?.required && isGoalSaveClicked">Career is required</small>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter career goal" class="form-control" formControlName="goal_title">
                                </div>
                                <small class="text-danger d-block mt-3 fm" *ngIf="goals().controls[j].get('goal_title')?.errors?.required && isGoalSaveClicked">Goal title is required</small>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" placeholder="Enter goal date" class="form-control" formControlName="goal_date">
                                </div>
                                <small class="text-danger d-block mt-3 fm" *ngIf="goals().controls[j].get('goal_date')?.errors?.required && isGoalSaveClicked">Goal date is required</small>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control"  formControlName="goal_status" (change)="currentStatus($event)">
                                        <option [value]="">Select Status</option>
                                        <option [value]="1">Pending</option>
                                        <option [value]="2">Achieved</option>
                                        <option [value]="3">Failed</option>
                                    </select>
                                </div>
                                <small class="text-danger d-block mt-3 fm" *ngIf="goals().controls[j].get('goal_status')?.errors?.required && isGoalSaveClicked">Goal status is required</small>
                            </div>
                            </div>
                        </div>
                       

                       
                    </div>
                </div>
            </div>
                <!--<div class="goal-list">
                    <div class="goal-head">
                        <h4><span>2</span> Goal 2</h4> <a href="#" class="pending-btn">Pending</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Enter career goal" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="date" placeholder="Enter goal date" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-12" *ngIf="goalCount > 0">
                    <div class="form-group text-right">
                            <button type="submit" class="btn btn-default small" id="goalsubmitbtn">Update</button>
                        </div>
                </div>
               
            </form>
        </div>
    </div>


