<h2>Career Search</h2>
<hr>
<!--<form action="">-->
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group fiel">
                <label>Job Sector</label>
                <select class="form-control" name=""  [(ngModel)]="jobSector">
                    <option value="">Select Job Sector</option>
                    <option  *ngFor="let js of filterData.job_sectors" value="{{js.id}}">{{js.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group fiel range-field">
                <label>Wage Range</label>
                
                <div id="slider-range"></div>
                <input type="text" id="amount" name="" class="form-control"   readonly>
               
            </div>
        </div>
      
        
        <div class="col-lg-12">
            <div class="form-group text-left">
                    <!--<input type="submit" class="btn btn-default small" value="Search">-->
                    <button class="btn btn-default small" type="button" id="filterCareerSearch" (click)="searchCareer()">Filter</button>
                </div>
        </div>
    </div>


<!--</form>-->
<h3>Careers</h3>
<form [formGroup]="careerSearchResultForm" >
    <div class="row">
        <!--<div class="col-lg-12">
            <div class="form-group">
                <label>Healthcare Sector</label>
            </div>
        </div>-->
        <div class="col-lg-12">
            <div class="search-tb">
                <div class="table-responsive">
                    <table class="table table-bordered search-table">
                        <thead>
                            <tr>
                            <th>Sector</th>
                            <th>Career<br> Name</th>
                            <th>Code</th>
                            <th>Select</th>
                            <th>Average<br> Starting Wages</th>
                            <th>Winconsin Wage</th>
                            <th>Interested<br> Match</th>
                            <th>Value<br> Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="pageData?.careers?.length == 0">
                                <td colspan="10" align="center"><i>No Data Found</i></td>
                              </tr>
                            <tr *ngFor="let item of pageData?.careers">
                            <td>{{item.sector}}</td>
                            <td><a routerLink="/career/{{item.slug}}">{{item.career_title}}</a></td>
                            <td>{{item.career_short_code}}</td>
                            <td>
                                <label class="container-check" *ngIf="item.is_user_fav==1">
                                        <input type="checkbox" (change)="fieldsChange($event)" value="{{item.id}}" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                <label class="container-check" *ngIf="item.is_user_fav!=1">
                                    <input type="checkbox" (change)="fieldsChange($event)" value="{{item.id}}" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>{{item.avg_wage}}</td>
                            <td>{{item.median_wage}}</td>
                            <td>{{item.interested_match}}</td>
                            <td>{{item.value_match}}</td>
                            </tr>
                            

                        </tbody>
                        </table>
                    </div>

                    
                    <ul class="pagination pagination-lg" *ngIf="paginationArr.length >1">
                        <li><a href="javascript:void(0);" (click)="paginationFirstClicked()"><img src="assets/images/lft-arrow.png"></a></li>
                        <li><a href="javascript:void(0);" (click)="paginationPreviousClicked()"><i class="fa fa-chevron-left"></i></a></li>
                        <ng-container *ngIf="start > 1">
                            <li><a href="javascript:void(0);" (click)="paginationFirstClicked()">1</a></li>
                            <li><a href="javascript:void(0);" ><img src="assets/images/dot.png"></a></li>
                        </ng-container>
                        <ng-container *ngFor="let page of paginationArr">
                            <li *ngIf="page==currentPage"><a href="javascript:void(0);" class="active" title="Page {{page}}" >{{page}}</a></li>
                            <li *ngIf="page!=currentPage"><a href="javascript:void(0);" title="Page {{page}}" (click)="paginationClicked(page)">{{page}}</a></li>
                        </ng-container>
                        <ng-container *ngIf="end < last">
                            <li><a href="javascript:void(0);" ><img src="assets/images/dot.png"></a></li>
                            <li class="next"><a href="javascript:void(0);" (click)="paginationNextClicked()"><i class="fa fa-chevron-right"></i></a></li>
                        </ng-container>
                        <ng-container *ngIf="end >= last">
                            <li class="next"><a href="javascript:void(0);" (click)="paginationNextClicked()"><i class="fa fa-chevron-right"></i></a></li>
                        </ng-container>
                        
                        <li><a href="javascript:void(0);" (click)="paginationLastClicked()"><img src="assets/images/rgt-arrow.png"></a></li>
                        
                    </ul>
                </div>
            
        </div>
        

    </div>


</form>