<main id="home" class="content">
    <section id="banner">
        <div class="banner-wrapper lazy" [attr.data-src]="apiFileUrl+bannerUrl">
            <div class="container">

                <div class="row">
                    <div class="col-xl-6" >
                        <div  [innerHTML]="bannerCaption">
                        <div class="banner-title wow fadeInLeft" >
                            Welcome to our <br>
                            Career Pathway Tool
                        </div>

                        <div class="banner-content wow fadeInRight">
                            <p>Explore all the most exciting job roles based on <br> your interest and study major</p>
                        </div>
                    </div>


                        <div class="banner-buttons wow fadeInUp">
                            <a href="{{bannerLink}}" class="btn btn-dark circleeffect" >Read More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
        <section id="howitworks">
            <div class="container">
                <div class="section-heading wow fadeInUp">
                    <span  [attr.data-text]="pageData?.about_others?.how_works_title">{{ pageData?.about_others?.how_works_title }}</span>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="video-item wow fadeInLeft">
                            <a href="javascript:void(0);" class="image-wrapper" data-toggle="modal" data-target="#videoOne">
                                <img class="lazy" [attr.data-src]="apiFileUrl+pageData?.how_videos?.how_image" alt="">
                                <i class="icon icon-play-icon"></i>
                            </a>
                        </div>
                        <div class="modal fade" id="videoOne" tabindex="-1" role="dialog" aria-labelledby="videoOneTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>

                                        <div class="video-wrapper">
                                            <video width="100%" controls="controls" [attr.data-poster]="apiFileUrl+pageData?.how_videos?.how_image">
                                                <source src="{{ apiFileUrl+pageData?.how_videos?.how_video }}" type="video/mp4">
                                                <source src="{{ apiFileUrl+pageData?.how_videos?.how_video_ogg }}" type="video/ogg">
                                                <source src="{{ apiFileUrl+pageData?.how_videos?.how_video_webm }}" type="video/webm">
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="howitwork-slider owl-carousel owl-theme wow fadeInRight">
                            <div class="item" *ngFor="let how_img of pageData?.how_images">
                                <div class="image-wrapper"><img class="owl-lazy" *ngIf="how_img.how_image" [attr.data-src]="apiFileUrl+how_img?.how_image" alt="{{how_img.title}}"></div>
                            </div>
                        </div>

                        <ul id='howitwork-custom-dots' class='owl-dots'> 
                            <li class='owl-dot' *ngFor="let how_img of pageData?.how_images"><span></span></li> 
                           
                        </ul>                                  
                    </div>
                    

                </div>
            </div>

            
            <div class="img-design one"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.how_works_image_left" alt=""></div>
            <div class="img-design two"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.how_works_image_right" alt=""></div>

        </section>

        <section id="selfexploration">
            <div class="container">
                <hr class="divider">

                <div class="row align-items-center">
                    <div class="col-xl-4 text-center text-md-left wow fadeInLeft">
                        <div class="h1 font-weight-bold mb-4 title">{{pageData?.about_others?.assessment_title}}</div>
                        <p class="big font-weight-normal" >{{ pageData.about_others?.assessment_short_description | slice:0:200 }}{{pageData.about_others?.assessment_short_description.length > 200 ? '...' : ''}} </p>
                    </div>



                    <div class="col-xl-8">

                        <div class="selfexplr-slider-wrap owl-carousel owl-theme  wow fadeInRight">

                            <div class="item" *ngFor="let assm_data of pageData?.assessments">
                                <div class="iconWrap" [innerHTML]="assm_data.assessment_icon">
                                    <div class="bg">
                                        <i class="icon icon-chart"></i>
                                    </div>
                                </div>

                                <div class="details">
                                    <b>{{assm_data.title}}</b>
                                    <p>{{ assm_data.short_description | slice:0:90 }}{{assm_data.short_description.length > 90 ? '...' : ''}}</p>
                                    <a href="{{assm_data.assessment_url}}" class="btn btn-default small circleeffect" target="_blank">Click Here</a>
                                </div>
                            </div>


                        </div>

                    </div>


                    

                </div>
            </div>
        </section>
    
        <section id="bottomsection">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-lg-6 left text-center text-md-left wow fadeInLeft">
                        <div class="h1 title hed-sec" [innerHTML]="pageData?.about_others?.about_title"></div>
                        <p>{{ pageData?.about_others?.about_description | slice:0:120 }}{{pageData?.about_others?.about_description.length > 120 ? '...' : ''}}</p>


                        <div class="row">
                            <div class="col-sm-6 mb-4 mb-md-0">
                                <div class="item">
                                    <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_logo1" alt=""></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_logo2" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 bgimage wow fadeInRight">
                        <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.about_others?.about_image" alt=""></div>
                    </div>
                </div>

            </div>
        </section>
    


</main>