    <!---------------------------------------------------------------- MAIN CONETNT -------->
    <main id="loginPages" class="content login">

        <section>
            <div class="container">

                <div class="inner-wrapper portfolio-bx">
                    <a id="menu-icon">&#9776; Dashboard</a>
                              
                    <div class="pro-left mob" id="mobile_menu">                        
                        <div class="user-pp-image">
                            <figure>
                                <img [attr.src]="imgURL" alt="" class="img-fluid">
                            </figure>
                            <div class="image-upload">
                                <label for="file-input">
                                    <div class="upload-btn"><i class="fa fa-camera" aria-hidden="true"></i></div>
                                </label>
                                <input id="file-input" type="file" (change)="uploadProfileImage($event)" accept="image/*" />
                            </div>
                        </div>
                        <h2>{{loggedInName}}</h2>

                        <ul class="lft-user-panel">
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/my-profile" class="mobmenu"><i class="fa fa-user" aria-hidden="true"></i> My Profile </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/change-password" class="mobmenu"><i class="fa fa-lock" aria-hidden="true"></i> Change Password </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/guide-me" class="mobmenu"><i class="fa fa-book" aria-hidden="true"></i> Guide Me  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/explore-career" class="mobmenu"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Explore Career  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/career-search" class="mobmenu"><i class="fa fa-search" aria-hidden="true"></i> Career Search  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/career-goal" class="mobmenu"><i class="fa fa-bullseye" aria-hidden="true"></i> Career Goal </a></li>
                            
                            <li><a href="javascript:void(0);" (click)="logoutClicked()"><i class="fa fa-sign-out" aria-hidden="true" ></i> Log Out </a></li>
                        </ul>

                    </div>
                    
                    <div class="pro-left dec">                        
                        <div class="user-pp-image">
                            <figure>
                                <img [attr.src]="imgURL" alt="" class="img-fluid">
                            </figure>
                            <div class="image-upload">
                                <label for="file-input">
                                    <div class="upload-btn"><i class="fa fa-camera" aria-hidden="true"></i></div>
                                </label>
                                <input id="file-input" type="file" (change)="uploadProfileImage($event)" accept="image/*" />
                            </div>
                        </div>
                        <h2>{{loggedInName}}</h2>

                        <ul class="lft-user-panel">
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/my-profile"><i class="fa fa-user" aria-hidden="true"></i> My Profile </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/change-password"><i class="fa fa-lock" aria-hidden="true"></i> Change Password </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/guide-me"><i class="fa fa-book" aria-hidden="true"></i> Guide Me  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/explore-career"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Explore Career  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/career-search"><i class="fa fa-search" aria-hidden="true"></i> Career Search  </a></li>
                            <li routerLinkActive="active"><a routerLink="/{{userPath}}/career-goal"><i class="fa fa-bullseye" aria-hidden="true"></i> Career Goal </a></li>
                            
                            <li><a href="javascript:void(0);" (click)="logoutClicked()"><i class="fa fa-sign-out" aria-hidden="true" ></i> Log Out </a></li>
                        </ul>

                    </div>
                    <div class="pro-rgt">
                    <router-outlet></router-outlet>

                    </div>

                   
                </div>

            </div>
        </section>

    </main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->
