<!---------------------------------------------------------------- BREADCRUMB -------->
<section class="banner-inner">
    <img [attr.src]="apiFileUrl+bannerUrl" alt="{{apiFileUrl+bannerAlt}}">
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb d-flex align-items-center justify-content-center mb-0">
                <li><a routerLink="/index">Home</a></li>
                <li class="active"><a href="javascript:void(0);">Register</a></li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------------------------------- /BREADCRUMB -------->


 <!---------------------------------------------------------------- MAIN CONETNT -------->
 <main id="loginPages" class="content register">

    <section>
        <div class="container">

            <div class="form-title text-center mb-4">{{pageData?.settings?.register_title}}</div>
            
            <ul class="nav nav-tabs" id="registerTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link  {{isRegisterTab?'active':''}}" id="byemail-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="byemail" aria-selected="true" (click)="changeTab(1)">
                        Register by Email
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{isStepEmail?'':'hideTab'}} {{isPersonalTab?'active':''}}"  id="personal-info-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="personal-info" aria-selected="false" (click)="changeTab(2)">
                        Personal Information
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{isStepPersonal?'':'hideTab'}} {{isEducationTab?'active':''}}" id="education-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="education" aria-selected="false" (click)="changeTab(3)">
                        Education
                    </a>
                </li>
                <li class="nav-item {{ ShowHideVal }}">
                    <a class="nav-link {{isStepEduction?'':'hideTab'}} {{isExperienceTab?'active':''}}" id="workexp-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="workexp" aria-selected="false" (click)="changeTab(4)">
                        Work Experience
                    </a>
                </li>
            </ul>


            <div class="tab-content" id="registerTabsContent">


                <!-------------------------- LOGIN -->
                <div class="tab-pane fade {{isRegisterTab?'show active':''}}" id="byemail" role="tabpanel" aria-labelledby="byemail-tab">
                    
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block left">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.register_by_email_left_image" alt=""></div>
                        </div>

                        <div class="col-lg-8">
                            <div class="h5 title font-weight-bold text-uppercase">I Am A <span class="text-danger">*</span></div>
                            <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmitted()" autocomplete="off">
                                <div class="form-group mt-2 mb-3 mb-sm-5 radio-wrap">
                                    <div class="form-check mr-4 d-inline-block">
                                        <label class="form-check-label usertypecls">
                                            <input type="radio" class="form-check-input"   formControlName="user_type" value="1" id="studenttype"  #typeStudent  (change)="HideShowWorkExp(typeStudent.value)" >
                                            Student
                                        </label>
                                    </div>
                                    <div class="form-check d-inline-block">
                                        <label class="form-check-label usertypecls">
                                            <input type="radio" class="form-check-input"   formControlName="user_type" value="2" id="professionaltype" #typeProfessional  (change)="HideShowWorkExp(typeProfessional.value)">
                                            Working Professional
                                        </label>
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="registerForm.controls['user_type'].errors && 
                                        registerForm.controls['user_type'].hasError('required') && isSaveClicked">This is required</small>
                                      
                                </div>

                                <div class="form-group">
                                    <label for="">Email ID <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <i class="icon icon-email"></i>
                                        <input type="email" class="form-control" id="emailadd"  formControlName="email" autocomplete="off" required>
 
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="registerForm.controls['email'].errors && 
                                        registerForm.controls['email'].hasError('required') && isSaveClicked">Email ID field is required</small>
                                    <small class="text-danger d-block mt-3" *ngIf="registerForm.controls['email'].errors && 
                                        registerForm.controls['email'].hasError('pattern') && isSaveClicked">Please enter a valid Email ID.</small>
                                    <small class="text-danger d-block mt-3" *ngIf="duplicateEmailStat==1 && isSaveClicked">{{duplicateEmailMsg}}</small>
                                </div>

                                
                                <div class="form-group">
                                    <label for="">Password <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="ey" id="hideshowpwd"><i class="fa fa-eye-slash" aria-hidden="true"></i>
                                        </span>
                                        <i class="icon icon-key"></i>
                                        <input type="password" class="form-control" id="passwordval"  formControlName="password" autocomplete="off" required>
                                        
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="registerForm.controls['password'].errors && 
                                        registerForm.controls['password'].hasError('required') && isSaveClicked">The Password field is required.</small>
                                        <small class="text-danger d-block mt-3" *ngIf="registerForm.controls['password'].errors && 
                                        registerForm.controls['password'].hasError('pattern') && isSaveClicked">Password should be at least 8 characters long and should contain one number,one character and one special character.</small>
                                </div>
                                

                                <div class="buttons">
                                   
                                    <button type="submit" class="btn btn-default small px-5" id="basicnextbtn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-------------------------- /LOGIN -->
                
                






                
                <!-------------------------- PERSONAL INFORMATION -->
                <div class="tab-pane fade {{isPersonalTab?'show active':''}}" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab">
                    
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block left">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.register_personal_info_left_image" alt=""></div>
                        </div>

                        <div class="col-lg-8">
                            <div class="h5 title font-weight-bold text-uppercase">Personal Information</div>
                            <form [formGroup]="personalForm" (ngSubmit)="personalFormSubmitted()" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">First Name <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <i class="fa fa-user"></i>
                                                <input type="text" class="form-control" formControlName="first_name" id="firstname" autocomplete="off" required>
                                                
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['first_name'].errors && 
                                                personalForm.controls['first_name'].hasError('required') && isPersonalSaveClicked">First Name field is required</small>
                                                <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['first_name'].errors && 
                                                personalForm.controls['first_name'].hasError('pattern') && isPersonalSaveClicked">First Name should contain letters and in-between space only.</small>    
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Last Name <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <i class="fa fa-user"></i>
                                                <input type="text" class="form-control" formControlName="last_name" id="lastname" autocomplete="off" required>
                                                
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['last_name'].errors && 
                                                personalForm.controls['last_name'].hasError('required') && isPersonalSaveClicked">Last Name field is required</small>
                                                <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['last_name'].errors && 
                                                personalForm.controls['last_name'].hasError('pattern') && isPersonalSaveClicked">First Name should contain letters and in-between space only.</small>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group radio-wrap">
                                    <label class="d-block mb-2" for="">Gender <span class="text-danger">*</span></label>
                                    <div class="form-check mr-4 d-inline-block">
                                        <label class="form-check-label gendercls">
                                            <input type="radio" class="form-check-input" formControlName="gender" id="gender_male" value="1" #typeMale  (change)="SelectGender(typeMale.value)" >
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check mr-4 d-inline-block">
                                        <label class="form-check-label gendercls">
                                            <input type="radio" class="form-check-input" formControlName="gender" id="gender_female" value="2" #typeFemale (change)="SelectGender(typeFemale.value)">
                                            Female
                                        </label>
                                    </div>
                                    <div class="form-check mr-4 d-inline-block">
                                        <label class="form-check-label gendercls">
                                            <input type="radio" class="form-check-input" formControlName="gender" id="gender_binary" value="3" #typeBinary (change)="SelectGender(typeBinary.value)">
                                            Non-Binary
                                        </label>
                                        
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['gender'].errors && 
                                        personalForm.controls['gender'].hasError('required') && isPersonalSaveClicked">Gender is required</small>
                                </div>



                                <div class="form-group">
                                    <label for="">Mobile Number <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <i class="fa fa-phone"></i>
                                        <input type="text" class="form-control" formControlName="contact_no" id="contactno" autocomplete="off" required>
                                       
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['contact_no'].errors && 
                                    personalForm.controls['contact_no'].hasError('required') && isPersonalSaveClicked">Mobile Number field is required</small>
                                    <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['contact_no'].errors && 
                                    personalForm.controls['contact_no'].hasError('pattern') && isPersonalSaveClicked">Mobile Number must be 10 digit number.</small>
                                </div>



                                <div class="form-group">
                                    <label for="">Alternate Email ID</label>
                                    <div class="input-group">
                                        <i class="icon icon-email"></i>
                                        <input type="email" class="form-control" formControlName="email_altername" id="emailalternate" autocomplete="off">
                                       
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['email_altername'].errors && 
                                    personalForm.controls['email_altername'].hasError('pattern') && isPersonalSaveClicked">Enter a valid Email ID.</small>
                                    <small class="text-danger d-block mt-3" *ngIf="alternateEmailStat==1 && isPersonalSaveClicked">{{alternateEmailMsg}}</small>
                                </div>


                                <div class="form-group">
                                    <label for="">Address <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <i class="fa fa-map-marker"></i>
                                        <input type="text" class="form-control" formControlName="address" id="address" autocomplete="off" required>
                                       
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="personalForm.controls['address'].errors && 
                                    personalForm.controls['address'].hasError('required') && isPersonalSaveClicked">Address field is required</small>
                                </div>

                                

                                <div class="buttons">
                                    <!--<input type="submit" class="btn btn-default small px-5" value="Next">-->
                                    <button type="submit" class="btn btn-default small px-5" id="personalnextbtn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-------------------------- /PERSONAL INFORMATION -->
                
                





                
                
                
                <!-------------------------- EDUCATION -->
                <div class="tab-pane fade {{isEducationTab?'show active':''}}" id="education" role="tabpanel" aria-labelledby="education-tab">
                    
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block left">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.register_education_left_image" alt=""></div>
                        </div>

                        <div class="col-lg-8 pfolio">
                            <div class="h5 title font-weight-bold text-uppercase">Education</div>
                            <form [formGroup]="educationForm" (ngSubmit)="eductionFormSubmitted()" autocomplete="off">
                                
                                <div class="form-group grade-field">
                                    <label for="">Highest Qualification <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <i class="fa fa-graduation-cap"></i>
                                        <select class="form-control ghf" formControlName="qualificaion" id="qualificaion" autocomplete="off">
                                            <option value="">Select Qualification</option>
                                            <option value="Middle School or less">Middle School or less</option>
                                            <option value="High school">High school</option>
                                            <option value="Collage or more">Collage or more</option>
                                        </select>
                                        <!--<input type="text" class="form-control" formControlName="qualificaion" id="qualificaion" autocomplete="off">-->  
                                        
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="educationForm.controls['qualificaion'].errors && 
                                        educationForm.controls['qualificaion'].hasError('required') && isEductionSaveClicked">Highest Qualification field is required</small>
                                </div>


                                <div class="form-group grade-field">
                                    <label for="">Grade <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <i class="fa fa-graduation-cap"></i>
                                        <!--<input type="text" class="form-control" formControlName="grade_quali" id="gradequali" autocomplete="off">-->
                                        <select class="form-control ghf" formControlName="grade_quali" id="gradequali" autocomplete="off">
                                            <option value="">Select Grade</option>
                                            <option value="Attending">Attending</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Pass">Pass</option>
                                            <option value="Fail">Fail</option>
                                        </select>
                                    </div>
                                    <small class="text-danger d-block mt-3" *ngIf="educationForm.controls['grade_quali'].errors && 
                                        educationForm.controls['grade_quali'].hasError('required') && isEductionSaveClicked">Grade field is required</small>
                                </div>
                                

                                <div class="buttons">
                                    <input type="submit" class="btn btn-default small px-5" id="eduSubmit" value="{{EducationButtonText}}">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-------------------------- /EDUCATION -->
                
                





                
                
                
                <!-------------------------- WORK EXPERIENCE -->
                <div class="tab-pane fade {{isExperienceTab?'show active':''}}" id="workexp" role="tabpanel" aria-labelledby="workexp-tab">
                    
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block left">
                            <div class="image-wrapper"><img class="lazy" [attr.data-src]="apiFileUrl+pageData?.settings?.register_work_exp_left_image" alt=""></div>
                        </div>

                        <div class="col-lg-8">
                            <div class="h5 title font-weight-bold text-uppercase">Work Experience</div>
                            <form [formGroup]="experienceForm" (ngSubmit)="experienceFormSubmitted()" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Job Title <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <i class="fa fa-user"></i>
                                                <input type="text" class="form-control" formControlName="job_title" id="jobtitle" required autocomplete="off">
                                               
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="experienceForm.controls['job_title'].errors && 
                                            experienceForm.controls['job_title'].hasError('required') && isExperienceSaveClicked">Job Title field is required</small>
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Employer Name <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <i class="fa fa-user"></i>
                                                <input type="text" class="form-control" formControlName="employer_name" id="employername" required autocomplete="off">
                                               
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="experienceForm.controls['employer_name'].errors && 
                                            experienceForm.controls['employer_name'].hasError('required') && isExperienceSaveClicked">Employer Name field is required</small>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-12"><label for="">Total Work Experience <span class="text-danger">*</span></label></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label for="">Job Title</label> -->
                                            <div class="select-wrap">
                                                <select name="" id="" class="form-control" formControlName="exp_years" id="expyears" required autocomplete="off">
                                                    <option value="">Select Year(s)</option>
                                                    <option *ngFor='let in of counter(10) ;let i = index' value="{{i}}">{{i}}</option>
                                                    <option value="">10+</option>
                                                </select>
                                               
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="experienceForm.controls['exp_years'].errors && 
                                            experienceForm.controls['exp_years'].hasError('required') && isExperienceSaveClicked">Total Work Experience field is required</small>
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label for="">Employer Name</label> -->
                                            <div class="select-wrap">
                                                <select name="" id="" class="form-control" formControlName="exp_months" id="exp_months" required autocomplete="off">
                                                    
                                                    <option value="">Select Month(s)</option>
                                                    <option *ngFor='let in of counter(11) ;let i = index' value="{{i+1}}">{{i+1}}</option>
                                                </select>
                                                
                                            </div>
                                            <small class="text-danger d-block mt-3" *ngIf="experienceForm.controls['exp_months'].errors && 
                                                experienceForm.controls['exp_months'].hasError('required') && isExperienceSaveClicked">Month field is required</small>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="buttons">
                                    <!--<input type="submit" class="btn btn-default small px-5" value="Submit" id="expSubmit">-->
                                    <button type="submit" class="btn btn-default small px-5" id="expSubmit">Submit</button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-------------------------- /WORK EXPERIENCE -->
            </div>
              

        </div>
    </section>

</main>
<!---------------------------------------------------------------- /MAIN CONETNT -------->